/**
 * @author Marat Tanalin | http://tanalin.com/ | 2012
 */

/*----- base -----*/

/*BODY, LEGEND, INPUT, TEXTAREA, BUTTON, SELECT, OPTION {font-family: Tahoma, Arial, Verdana, "Lucida Grand", Lucida, Helvetica, sans-serif; }*/

TABLE, INPUT, TEXTAREA, BUTTON, SELECT, OPTION {font-size: 100%; }

BODY,
FORM, FIELDSET, LEGEND,
OBJECT,
UL, LI,
DL, DT, DD,
HEADER, FOOTER, SECTION, NAV {padding: 0; }

SMALL {font-size: .846em; }

FORM, FIELDSET {border: 0 solid transparent; }

OBJECT {vertical-align: top; }

IMG,
IFRAME {border: none; }

IMG {-ms-interpolation-mode: bicubic; }
HR {display: none; }

HEADER, FOOTER, SECTION, NAV {border: none; display: block; }

UL {list-style: none; list-style-type: none !important;}

INPUT[type="radio"],
INPUT[type="checkbox"] {margin: 0; padding: 0; }

.isolated:before,
.isolated:after {content: ""; display: block; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.isolated:after {clear: both; }

TABLE {border-spacing: 0; }

TABLE {
	-webkit-box-sizing: border-box;
	 -khtml-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

TD,
TH {padding: 0; }

.bn IMG {vertical-align: top; }

/* Neutralizing obsolete presentation markup */
CENTER {text-align: left; }

BIG,
FONT {font-size: 1em !important; }

FONT {color: inherit !important; }
U {text-decoration: none !important; }

TABLE[background] {background: none !important; }

[align] {text-align: inherit !important; }
/* /Neutralizing obsolete presentation markup */

/*----- /base -----*/

/*A, A:link, A:visited {color: #000; }
A:hover {color: #000; text-decoration: none; }*/

SUP {font-size: .8333em; vertical-align: baseline; position: relative; top: -.4em; }

.content P,
.content H1,
.content H2,
.content H3,
.content H4,
.content H5,
.content H6,
.content DL,
.content UL,
.content OL,
.content .tbl,
.content .hr {margin-bottom: 1em; }

.content UL,
.content OL,
.content DL {margin-top: 1em; }

.content UL,
.content OL {margin-left: 35px; padding: 0; }

/*
.content UL {list-style: disc; }
.content UL UL {list-style: circle; margin-top: .5em; margin-bottom: .5em; }
.content UL UL UL {list-style: square; }
*/
.content DT {font-weight: bold; }
.content DT SMALL {font-weight: normal; }
.content DD {margin-bottom: .75em; }
.content DL DL {margin: .25em 0; margin-left: 0px; }

.content UL.long LI,
.content OL.long LI {margin-bottom: .75em; }

.content UL.medium LI,
.content OL.medium LI {margin-bottom: .3em; }

.content UL.short LI,
.content OL.short LI {margin-bottom: 0; }



.content H1 {font-size: 2em; font-weight: normal; margin: 0 0 .3em; }
.content H2 {font-size: 1.5385em; font-weight: normal; margin-top: 1em; margin-bottom: .1em; }
.content H3 {font-size: 1.25em; margin-top: 1em; margin-bottom: .3em; }
.content H4 {font-size: 1.1em; margin-top: 1em; margin-bottom: .1em; }

.content LEGEND {color: #000; font-weight: bold; margin-bottom: 1em; }
.content FORM {margin-bottom: 1em; }
.content FORM DL {margin-left: 0; width: 75%; }
.content FORM DL DL {margin-left: 35px; }
.content FORM DT {font-weight: normal; margin: 0; margin-bottom: .1em; }
.content FORM.nostars DT SPAN {display: none; }
.content FORM DD {margin: 0; margin-bottom: 1em; padding: 0; }

.content FORM DD INPUT[type="text"],
.content FORM DD INPUT[type="email"],
.content FORM DD TEXTAREA {width: 100%; }


.content FORM .side-by-side INPUT,
.content FORM DD.short INPUT,
.content FORM DD.short TEXTAREA,
.content FORM DD INPUT.short,
.content FORM DD TEXTAREA.short {width: auto; }

.content FORM DL UL {list-style: none; margin: 0; padding: 0; }
.content FORM DL UL LI {margin: 0; padding: 0; }
.content FORM DL UL INPUT {width: auto; }
.content FORM DL UL UL {margin: .2em 0 .5em 35px; }

.content FORM .submit {margin-top: 1em; }

.content FORM .submit INPUT[type="submit"],
.content FORM .submit INPUT[type="button"],
.content FORM .submit BUTTON {padding: 0 .5em .1em; }

.content FORM UL.submit {list-style: none; margin-left: 0; }
.content FORM UL.submit > LI {margin-bottom: 3px; }

.content FORM UL.radio,
.content FORM UL.radio > LI {margin-left: 0; padding-left: 0; }

.content FORM UL.radio {list-style: none; }



.content .hr {border-top: 1px solid #666; height: 0; margin: 1.25em 0; }

.content .spacer {margin: 1.5em 0; width: 0; height: 0; }

/* table */
.content DIV.tbl > TABLE,
.content TABLE.tbl,
.content .tbl TD,
.content .tbl TH {border: solid #ccc; }

.content .tbl TD,
.content .tbl TH {border-width: 0 1px 1px 0; padding: .2em .5em; }

.content .tbl TH {text-align: left; }

.content .tbl TD.center,
.content .tbl TH.center {text-align: center; }

.content .tbl TD.number,
.content .tbl TH.number,
.content .tbl TD.digit,
.content .tbl TH.digit {text-align: right; }

.content .tbl TD.important {background: #f0f0f0; }

.content DIV.tbl > TABLE,
.content TABLE.tbl {border-spacing: 0; border-width: 1px 0 0 1px; empty-cells: show; }

.content DIV.tbl.narrow > TABLE,
.content TABLE.tbl.narrow {width: auto; }

.content DIV.tbl {margin-bottom: 1em; }
/* /table */

.content UL.photo {list-style: none; font-size: 0; margin: 15px 0 0 -15px; padding: 0; }
.content UL.photo > LI {display: inline-block; font-size: 12px; font-size: 1rem; margin: 0 0 15px 15px; padding: 0; vertical-align: top; }
.content UL.photo A {display: table; text-decoration: none; width: 1px; }
.content UL.photo IMG {border: 1px solid #ccc; vertical-align: top; }

.content UL.photo A:hover {text-decoration: underline; }
.content UL.photo A:hover > IMG {border-color: #000; }

.content UL.photo A > BR + SPAN {display: block; margin-top: .2em; }

.content UL.photo A > SPAN:first-child {background-color: #ccc; display: table; width: 122px; height: 122px; }
.content UL.photo A > SPAN:first-child > SPAN {display: table-cell; text-align: center; vertical-align: middle; }

.content UL.photo A > SPAN:first-child + BR {display: none; }



.content .pB,
.content .cnt {text-align: center; }

.content .pC {text-align: right; }
.content .sign {text-align: right; }

.content TH.important,
.content TH.em {color: #F00; font-weight: bold; }

.content P.back,
.content P.more,
.content P.pages {clear: both; font-size: .917em; padding-top: 2em; }



.content DL.pagination {margin: 2em 0 0; }

.content DL.pagination > DT,
.content DL.pagination > DD,
.content DL.pagination UL,
.content DL.pagination LI {display: inline; }

.content DL.pagination > DD,
.content DL.pagination UL {margin-left: 0; }

.content DL.pagination > DT {font-weight: normal; }
.content DL.pagination > DD {margin: 0; }

.content DL.pagination UL {list-style: none; margin: 0 .1em; }
.content DL.pagination LI {margin: 0 .1em; }

.content DL.pagination STRONG {font-weight: normal; }



.content .clr {clear: both; }
.content SPAN.clr {display: block; height: 0; }


.content DL.news > DT EM,
.content DL.news > DT SMALL {font-size: .9167em; font-style: normal; font-weight: normal; }

.content UL.news {margin-left: 0px;}

.content UL.pure {list-style: none; margin-left: 0; }

.content UL.inline,
.content UL.inline > LI {margin-left: 0; padding-left: 0; }

.content UL.inline {list-style: none; }
.content UL.inline > LI {display: inline; }



.content .cols {clear: both; margin: 1.25em 0 1.25em -20px; position: relative; }
.content .cols > DIV {display: table; table-layout: fixed; width: 100%; }
.content .cols > DIV > DIV {display: table-row; }
.content .cols > DIV > DIV > DIV {display: table-cell; }
.content .cols > DIV > DIV > DIV > DIV {margin-left: 20px; }



.content OL.search > LI {margin-bottom: .75em; }



.content .imgA UL,
.content .imgA UL > LI,
.content .pureImgA UL,
.content .pureImgA UL > LI,
.content .imgC UL,
.content .imgC UL > LI,
.content .pureImgC UL,
.content .pureImgC UL > LI {margin: 0; padding: 0;}

.content .imgA UL,
.content .pureImgA UL,
.content .imgC UL,
.content .pureImgC UL {list-style: none; list-style-type: none; }

.content .imgA UL,
.content .imgC UL {margin-top: -10px; position: relative; }


.content .imgA UL > LI,
.content .imgC UL > LI {padding-top: 10px; }



.content .imgA TH,
.content .pureImgA TH,
.content .imgC TH,
.content .pureImgC TH {font-size: .9167em; font-weight: normal; padding: 0; padding-top: .1em; padding-bottom: .2em; text-align: left; }

.content .imgA TABLE,
.content TABLE.imgA,
.content .pureImgA TABLE,
.content TABLE.pureImgA,
.content .imgC TABLE,
.content TABLE.imgC,
.content .pureImgC TABLE,
.content TABLE.pureImgC,
.content .imgB TABLE,
.content TABLE.imgB,
.content .pureImgB TABLE,
.content TABLE.pureImgB {border-collapse: collapse; border-spacing: 0; width: 1px; }

.content .imgA IMG,
.content .pureImgA IMG,
.content .imgC IMG,
.content .pureImgC IMG,
.content .imgB IMG,
.content .pureImgB IMG {vertical-align: top; }

.content .imgA IMG,
.content .imgC IMG,
.content .imgB IMG {border: 1px solid #ccc; }

.content IMG.left,
.content IMG.right,
.content .imgA,
.content .pureImgA,
.content .imgC,
.content .pureImgC {margin-bottom: 15px; padding-top: .2em; }


/* Картинка справа (с комментарием), обтекаемая слева */
.content IMG.left,
.content .imgA,
.content .pureImgA {float: left; margin-right: 15px; }
/* /Картинка справа (с комментарием), обтекаемая слева */

/* Картинка справа (с комментарием), обтекаемая слева */
.content IMG.right,
.content .imgC,
.content .pureImgC {float: right; margin-left: 15px; }
/* /Картинка справа (с комментарием), обтекаемая слева */

/* Картинка по центру (с комментарием) */
.content .imgB,
.content .pureImgB {margin-bottom: 15px; }

.content .imgB TH,
.content .pureImgB TH {font-size: .9167em; font-weight: normal; padding: 0; padding-top: .1em; padding-bottom: .2em; text-align: left; }

.content .imgB TABLE,
.content TABLE.imgB,
.content .pureImgB TABLE,
.content TABLE.pureImgB {margin: 0 auto; }
/* /Картинка по центру (с комментарием) */

.content .tblPics {text-align: center; }
.content .tblPics A IMG {border: 1px solid #ccc; vertical-align: top; }
.content .tblPics TABLE {margin-left: auto; margin-right: auto; }
.content .tblPics TD {text-align: center; padding: 5px; }

.content .important {color: #f00; }



DL.compact:after {clear: both; content: ""; display: block; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; }

DL.compact > DT,
DL.compact > DD {margin: 0; }

DL.compact > DT {float: left; margin-right: .4em; }
DL.compact > DT.single {float: none; margin-right: 0 !important; }





DL.inline * {display: inline; }
DL.inline DT {font-weight: normal; }



.content DL.materials-with-dates-n-title-links > DT {color: #999; font-size: .9167em; font-weight: normal; }



.content DL.materials > DT {margin-bottom: .2em; }
.content UL.materials > LI {margin-bottom: .3em; }



.content DIV.side-by-side {margin: .5em 0 1em; }

.content .side-by-side {margin-left: -1.5em !important; position: relative; }
.content .side-by-side:after {clear: both; content: ""; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.content .side-by-side > * {float: left; margin: .5em 0 0 1.5em; width: auto; }
.content .side-by-side > .submit {padding-top: 1.2em; }

.content .side-by-side DD {margin-bottom: 0; }

/*  */

.content DL.showhide > DD {margin: .5em 0 1em; }
.content DL.showhide > DD:after {clear: both; content: ""; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

HTML.js .content DL.showhide > DT {
	cursor: pointer; display: inline-block; position: relative; 
	border-bottom: 1px dotted #333; padding-left: 16px; min-height: 14px;
}

HTML.js .content DL.showhide > DT:before {
	background-image: url(../i/icons/showhide.gif); content: ""; 
	margin-top: -5.5px; position: absolute; left: 0; top: .53em; 
	width: 11px; height: 11px;
}

HTML.js .content DL.showhide > DD {margin-top: 0; overflow: hidden; width: 0; height: 0; }

HTML.js .content DL.showhide > DT._show:before {background-position: right top; }
HTML.js .content DL.showhide > DT._show + DD {margin-top: .5em; overflow: auto; width: auto; height: auto; }

HTML.js .content DL.showhide > DD > :last-child,
HTML.js .content DL.showhide > DD > :last-child > :last-child,
HTML.js .content DL.showhide > DD > :last-child > :last-child > :last-child {margin-bottom: 0; }

/*  */

.content UL.teasers-with-thumbs {display: table; list-style: none; margin: 0; width: 100%; }
.content UL.teasers-with-thumbs > LI {display: table-row; }
.content UL.teasers-with-thumbs > LI > DIV {display: table-cell; padding: 10px 0 0; vertical-align: top; }
.content UL.teasers-with-thumbs > LI:first-child > DIV {padding-top: 0; }
.content UL.teasers-with-thumbs > LI > DIV:first-child {width: 0; }

.content UL.teasers-with-thumbs IMG {vertical-align: top; }

.content UL.teasers-with-thumbs DL,
.content UL.teasers-with-thumbs DD {margin: 0; }

.content UL.teasers-with-thumbs > LI > DIV + DIV {padding-left: 10px; }
.content UL.teasers-with-thumbs > LI > DIV > DL > DT {font-size: 1.5em; font-weight: normal; margin: -.2em 0 .25em; position: relative; }

.content UL.teasers-with-thumbs DD DT {margin-top: .4em; }
.content UL.teasers-with-thumbs DD DD {margin-bottom: 0; }


.content UL.internal-links {margin: 0; color: #0066CC; font-size: .9em; list-style: none; padding-top: 10px;}
.content UL.internal-links LI {padding-bottom: 10px;}
.content UL.internal-links A {color: #0066CC;}

.content DL.compact-with-vspace DT {font-size: 2em !important; font-weight: normal;}
.content DL.compact-with-vspace DT {margin: 0 !important; }

.content DL.compact-with-vspace DT {float: left; margin-right: .9em !important; padding-left: 0 !important;}
.content DL.compact-with-vspace DT.single {float: none; margin-right: 0 !important; margin-bottom: .75em !important; }

	* HTML DL.compact-with-vspace DT {margin-right: 0 !important;}
	
	
.content UL.films {margin-left: 0px; }
.content .time {color: #777;}

