/*@media screen and (max-width: 1235px) {
	.c17_1,
	.c17_2{
		  width: 49%;
	}
	.c16 .width_max{
		width: 100% !important;
	}
	.c17_1 a,
	.c17_2 a:nth-child(1){
		  width: 100%;
	}
	.c17_2 a:nth-child(2){
		  width: 100%;
	}
	.menu li.exist:hover:before{
		  margin-left: 70px;
	}
	.aside_ul2 li a{
		  padding-left: 60px;
	}
	.width_max{
		  width: 1002px!important;
	}
	.c20_1 >a{
		width: 500px;
		 height: 175px;
	}
	.c20_1 div a:nth-child(1){
		  width: 166px;
		    height: 175px;
	}
	.c20_1 div a:nth-child(2){
		  width: 333px;
		  height: 175px;
	}
	.c20_1,
	.c20 >a{
		  height: 350px;
		  width: 500px;
	}
	.c21 a{
		width: 333.333px;
		height: 370px;
	}
	.sec_4 aside{
		  width: 240px;
			margin-right: 30px;
	}
	.sec_4 section{
		  width: 710px;
	}
	.sec_4{
		  width: 980px;
	}
	.c09{
		width: 980px;
	}
	.menu li.exist:before{
		  margin-left: 68px;
	}
	.questions_answers article{
		  width: 960px;
	}
	.ins_footer{
		  width: 980px;
	}
	.sec_2{
		  width: 1000px;
	}
	.news_partners{
		  width: 970px;
	}
	.block6{
		width: 332px;
		  height: 380px;
	}
	.block7{
		  width: 668px;
		    height: 380px;
	}
	.block5{
		  height: 370px;
	}
	.container_stock{
		margin-bottom: 10px;
	}
	.stock_time{
		width: 420px;
		font-size: 40px;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.ex_work .block4,
	.ex_work .block3,
	.ex_work .block2{
		width: 166.68px;
		height: 166.6px ;
	}
	.ex_work .block1{
		height: 191px;

	}
	.block5,
	.c4{
		width: 500px;
		height: 358px;
	}
	.ex_work{
		width: 1000px;
	}
	.structure li{
		  width: 105px;
	}
	.structure li a{
		  padding-top: 105px;
		    font-size: 15px;
	  background-size: 90px 90px !important;
	}
	.logo_top_bar{
		  margin-left: -495px;
	}
	.menu li.exist:hover:before{
		  margin-top: 100px;
	}
	.next_menu{
		  margin-left: 427px;
	}
	.prev_menu{
		  margin-right: 445px;
	}
	.c2 >ul{
		  width: 820px!important;
  margin-left: -440px!important;
	}
	.secondary_menu ul{
	  margin-left: 810px;

	}
	.top_sect{
	  width: 980px;
	}
	.text_slid{
		  width: 980px;
			margin-left: -495px;
	}
	.secondary_menu{
		width: 1000px;
	}
	.open_menu{
		margin-left: 900px;
	}
	.lang{
	  margin-left: -494px;

	}
	.menu li{
	  width: 150px;

	}
}
@media screen and (max-width: 1015px) {
	.structure{
		  padding-bottom: 14px;
	}
	.sec_4{
		  width: 100%;
	}
	.sec_4 section{
		  width: 100%;
          margin-top: 45px;
	}
	.aside_ul2 li a{
		  padding-left: 0px;
		  background-size: 60px !important;
		  padding-top: 65px;
		  background-position: top center !important;
		  font-size: 13px;
		  white-space: normal;
		  position: relative;
		  text-align: center;
	}
	.aside_ul2{
		white-space: nowrap;
 		overflow: auto;
 		  margin-top: 0px;
	}
	.aside_ul2 li{
		display: inline-block;
	  width: 110px;
	  vertical-align: top;
	  white-space: normal;
	    height: 100px;

	}
	.sec_4 aside{
		  display: block;
  		width: 100%;
  		margin-top: 0;
	}
	.sec_4 .aside_ul1{
		display: none;
	}
	.ex_work .c3 img{
		width: 100%;
	}
	.bot_h2.bot_h2{
		  width: calc(100% - 30px);
	}
	.pros.pros2{
		  width: calc(100% - 50px);
	}
	.send_mes{
  		top: 0;
	}
	.close.close_doc.close4{
		left: 50%;
		  margin-left: 0;
		  top: 60px;
	}
	.bot_h {
	  width: calc(100% - 30px);
	  text-align: left;
	}
	.pros{
		text-align: left;
     padding-left: 50px;

	}
	.pros li:after{
		display: none;
	}
	.container_stock{
		  width: calc(100% - 60px);
	}
	footer{
		  height: 480px;
	}
	.questions_answers .close{
		    top: 47px;
  			margin-left: 130px;
	}
	.questions_answers h2{
		  margin-top: 40px;
	}	
	.questions_answers{
		  height: 400px;
	}
	.questions_answers article{
		  width: calc(100% - 30px);
       padding: 0 15px;
	}
	.icon li:last-child{
		margin-right: 0 !important;
	}
	.block_search{
		  height: 300px;
	}
	.block_search .close2{
		  top: 45px;
		    margin-left: 110px;
	}
	.block_search p{
		margin-top: 40px;
	}
	.block_search .c5{
  		width: calc(100% - 30px);
	}
	.send_mes .c5, #intl-phone-input{
		width: calc(100% - 30px);
	}
	#msend_mesaje{
		  padding: 15px;
	}
	.intl-tel-input .selected-flag{
		  left: 10px;
     margin-left: 0;
	}
	.send_mes p{
		  padding-top: 39px;
	}
	.icon{
	  left: 0;
	  top: 220px;
	  width: 100%;
	  text-align: center;
	}
	.right_block div{
		display: none;
	}
	.right_block{
		width: 100%;
		  top: 0;
		  height: 255px;
		  text-align: center;
	}
	.download{
		  bottom: 190px;
	}
	.right_block .write{
		  bottom: -222px;
		  right: initial;
		  left: calc(50% - 166px);
	}
	.create{
		bottom: 0;
		  position: absolute;
		  width: 100%;
		  text-align: center;
	}
	.top,
	.ins_footer ul{
		display: none;
	}
	.ins_footer {
		  width: 100%;
		height: 535px;
	}
	.news_partners,
	.sec_2{
		width: calc(100% - 30px) !important;
		  padding: 0 15px !important;  
	}
	.news_partners article{
		width: 100%;
		margin-right: 0 !important;
	}
	.news_partners{
		  width: 100%;
	}
	.block7{
		  height: 460px;
  			width: 100%;

	}
	.ex_work .block1{
		  width: 100%;
  			height: 255px;
	}
	.ex_work .block4{
		display: none;
	}
	.ex_work .block3, .ex_work .block2{
		height: 190px;
		width: 50%;
	}
	.c4{
 		 width: 100%;
 		 height: 445px;
	}
	.block6{
		display: none;
	}
	.block5{
		  width: 100%;
  height: 450px;
	}
	.ex_work{
		width: 100%;
		  height: 1355px;
	}
	.sec_2{
		  width: 100%;
	}
	.structure li{
		white-space: normal;
	}
	.structure{
		    overflow: auto;
		  width: calc(100% - 30px);
		  white-space: nowrap;
		  margin: 40px 15px 0;
	}
	.bot_h{
		width: calc(100% - 30px);
  		padding: 0 15px;
	}
	.text_slid{
		left: 0;
  		margin-left: 0px;
	}
	.text_slid p:nth-child(2){
		  width: 100%;
  		white-space: normal;
	}
	.text_slid p:nth-child(3){
		  margin-bottom: 30px;
	}
	.viewcatalog{
		  left: 50%;
  		margin-left: -166px;
	}
	.text_slid,
	.top_sect{
		  width: calc(100% - 30px);
  			padding: 0 15px;
	}
	.text_slider{
	  margin-left: 0px;
	  left: 0;
	}
	#icon_menu{
		background-image: url("/_/i/icon_menu.png");
		position: absolute;
		cursor: pointer;
		top: 70px;
		left: 5%;
		width: 23px;
		height: 24px;
	}

	.menu li ul li{
		display: block;
	}
	.menu li >a{
		  line-height: 70px;
	}
	.menu >li{
		  min-height: 72px;
		  display: block;
		  width: 95%;
		  text-align: left;
		  padding-left: 5%;
		  border-bottom: 1px solid #999999;
		  border-right: 0px solid #e8e8e3;
		  height: initial;
	}
	.menu >li:nth-child(4){
		  border-bottom: 1px solid #999999;
	}
	body{
		transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}
	body.show-hide_menu .menu{
		width: 70%;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}
	body.show-hide_menu #icon_menu{
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	      left: 73%;
	}
	.c00,
	hr,
	.prev_menu,
	.next_menu,
	.logo_top_bar,
	h1:before,
    h2:before,
	.lang,
	.number{
		display: none !important;
	}
    h1,
    h2{
 	 margin-top: 30px;
    }
    .menu{
		width: 0%;
		position: absolute;
		top: 0;
		background: white;
		left: 0;
		z-index: 444;
		padding-top: 50px;
		overflow: hidden;

    }
    .menu li.exist.test:hover:before,
    .menu li.exist.test:before{
      content: "";
	  background-image: url("/_/i/sprite.png");
	  position: absolute;
	  width: 20px;
	  height: 12px;
	   background-position: -350px -12px;
	  right: 36px;
	  margin-top: 29px;
	  transition: all 0.2s;
	  -webkit-transition: all 0.2s;
    }
    .menu li.exist:hover:before,
    .menu li.exist:before {
	  content: "";
	  background-image: url("/_/i/sprite.png");
	  position: absolute;
	  width: 21px;
	  height: 11px;
	  background-position: -349px 0px;
	  right: 35px;
	  margin-top: 32px;
	  transition: all 0.2s;
	  -webkit-transition: all 0.2s;
	}

	.menu li:hover >a{
		  color: #999999;
	}

    .c2.active{
    	display: block;
    }

	.c2 >ul{
		  width: 100% !important;
 		 margin-left: 0px!important;
	}
	.menu li div{
		position: relative;
		margin-top: -25px;
		z-index: 99999;
		background: white;
		height: initial !important;
		display: none;
	}
	.menu li ul{
		height: initial;
		position: static;
		background: white;
		margin-top: 20px;
	}
	.c2 >ul{
		left: 0 !important;
	}
	.menu li div ul li ul{
		position: static;
		margin-left: 40px;
		display: none;
		margin-top: 0;
	}
	.menu li div ul li a.active_it ~ ul{
		display: block;
	}
	.c01 {
		  position: static !important;
	}
	.menu li ul li a{
		padding: 2px 0px 2px 0px;
		color: #333333 !important;
		text-transform: capitalize;
	}
	.menu li div ul li ul li{
		margin-top: 0px !important;

	}
	.menu li ul li a.active_it,
	.menu li.test >a{
		color: #50b3b0 !important;
	}
	.menu li a{
		  color: #333333 !important;
	}
}
@media screen and (max-width: 800px){
	.c17_1, .c17_2 {
	  width: 100%;
	  display: block;
	}
}*/