main section.lk_object form.show_nr{
  margin-left: 5px;
}
main section.interesting_facts ul.selection {
  margin-right: 50px;
}
main section.object_list ul.selection{
  margin-right: 45px;
}
main section.info aside.complete_info a.write:before {
  content: "";
  position: absolute;
  background: url("/_/i/sprite.png") -475px -18px no-repeat;
  width: 22px;
  height: 22px;
  margin-left: -60px;
}
main section.info aside.complete_info a.dopolniti:before {
content: "";
position: absolute;
background: url("/_/i/sprite.png") -475px -18px no-repeat;
width: 22px;
height: 22px;
margin-left: -60px;
}
