/*@media screen\0 {
	body .menu li div ul li ul{
		left: auto;
	}
	body .menu li ul li a{
		line-height: normal;
	}
	body .menu li ul li{
		height: auto;
		min-height: auto;
		width: initial;
	}
	body .send_mes.every_block{
	  position: static;
	}
}*/
/*@media screen and (max-width: 1235px) {
    .c09{
      width: 980px !important;
    }
}*/
@font-face {
  font-family: 'Conv_Ubuntu-Bold';
  src: url('/_//_/fonts/Ubuntu-Bold.eot');
  src: local(''), url('/_/fonts/Ubuntu-Bold.woff') format('woff'), url('/_/fonts/Ubuntu-Bold.ttf') format('truetype'), url('/_/fonts/Ubuntu-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConUbuntuCondensed-Regular';
  src: local(''),url('/_/fonts/Ubuntu-R.ttf') format('truetype'),;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-BoldItalic';
  src: url('/_/fonts/Ubuntu-BoldItalic.eot');
  src: local(''), url('/_/fonts/Ubuntu-BoldItalic.woff') format('woff'), url('/_/fonts/Ubuntu-BoldItalic.ttf') format('truetype'), url('/_/fonts/Ubuntu-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-Italic';
  src: url('/_/fonts/Ubuntu-Italic.eot');
  src: local(''), url('/_/fonts/Ubuntu-Italic.woff') format('woff'), url('/_/fonts/Ubuntu-Italic.ttf') format('truetype'), url('/_/fonts/Ubuntu-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-Light';
  src: url('/_/fonts/Ubuntu-Light.eot');
  src: local(''), url('/_/fonts/Ubuntu-Light.woff') format('woff'), url('/_/fonts/Ubuntu-Light.ttf') format('truetype'), url('/_/fonts/Ubuntu-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-LightItalic';
  src: url('/_/fonts/Ubuntu-LightItalic.eot');
  src: local(''), url('/_/fonts/Ubuntu-LightItalic.woff') format('woff'), url('/_/fonts/Ubuntu-LightItalic.ttf') format('truetype'), url('/_/fonts/Ubuntu-LightItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-Medium';
  src: url('/_/fonts/Ubuntu-Medium.eot');
  src: local(''), url('/_/fonts/Ubuntu-Medium.woff') format('woff'), url('/_/fonts/Ubuntu-Medium.ttf') format('truetype'), url('/_/fonts/Ubuntu-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-MediumItalic';
  src: url('/_/fonts/Ubuntu-MediumItalic.eot');
  src: local(''), url('/_/fonts/Ubuntu-MediumItalic.woff') format('woff'), url('/_/fonts/Ubuntu-MediumItalic.ttf') format('truetype'), url('/_/fonts/Ubuntu-MediumItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Ubuntu-Regular';
  src: url('/_/fonts/Ubuntu-Regular.eot');
  src: local(''), url('/_/fonts/Ubuntu-Regular.woff') format('woff'), url('/_/fonts/Ubuntu-Regular.ttf') format('truetype'), url('/_/fonts/Ubuntu-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
a{
  color: #5e5e5e;
  text-decoration: none;
}

#wrapper {
  width: 1010px;
  height: 450px;
  /*margin: -225px 0 0 -475px;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
}
#carousel-left,
#carousel-right {
  width: 450px;
  height: 325px;
  overflow: hidden;
  position: absolute;
  top: 79px;
  z-index: 1;
}
#carousel-left {
  left: 0px;
}
#carousel-right {
  right: -5px;
}
#carousel-center {
  width: 550px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 164px;
  z-index: 2;
}
.caroufredsel_wrapper {
  border: 6px solid #e3e5fd;
  border-radius: 6px;
}
#text_slider .caroufredsel_wrapper{
  z-index: 5 !important;
  border: none;
  top: 25px !important;
  width: 675px !important;
  background-color: rgba(50, 41, 38, 0.63);
  border-radius: 0;
  color: white;
  left: 170px !important;
  height: 83px !important;
}
#text_slider{
  width: 675px !important;
  position: absolute;
  bottom: 10px;
}
#fooA{
  width: 675px !important;
}
#fooA li{
  color: white;
  text-align: center;
}
#fooA div li:first-child{
  font-size: 35px;
  margin-bottom: 6px;
}
#fooA div li:last-child{
  font-size: 25px;
  margin-bottom: 6px;
}
.caroufredsel_wrapper img {
  display: block;
  float: left;
}
#wrapper .caroufredsel_wrapper:nth-child(3){
  left: 846px !important;
}
#prev,
#next {
  width: 43px;
  height: 43px;
  margin-top: -15px;
  position: absolute;
  top: 54%;
  z-index: 12;
}
#prev {
  left: 187px;
  background-image: url('/_/i/left_arrow_slider_big.png');
}
#next {
  right: 187px;
  background-image: url('/_/i/right_arrow_slider_big.png');
}

.flag-dropdown{
  left: 50%;
  margin-left: -360px;
}
.intl-tel-input{
  display: block;
  margin-bottom: 6px;
}
.top_sect{
  position: relative;
  margin: 0 auto;
  height: 199px;

  font-family: 'Conv_Ubuntu-Regular';
  color: #fdf9e0;
  text-align: right;
  background-position: center;
  min-width: 1340px;
}
body{
  min-width: 1000px;
}


.h1 {
  margin-top: -28px;
  margin-bottom: 0px;
  padding-bottom: 9px;
  color: #af030f;
  font-size: 35px !important;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  display: block;
  /*margin-block-start: 0.67em;*/
  /*margin-block-end: 0.67em;*/
  /*margin-inline-start: 0px;*/
  /*margin-inline-end: 0px;*/
  font-weight: 100;
  text-transform: uppercase;
}

.category-h {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 8px;
  font-weight: 100;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: normal;
  color: #252525;
 }

.breakcrumbs div {
  font-size: 15px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  font-weight: 100;
  margin-top: 3px;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: normal;
}

.top_sect p:first-child{
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 0px;
  /*padding-right: 217px;*/
  padding-bottom: 7px;
  padding-top: 14px;
}
.top_sect p{
  margin-top: 0px;
  /*padding-right: 50px;*/
  margin-bottom: 3px;
  line-height: 24px;

}
.top_sect p:nth-child(2){
  /*padding-right: 197px;*/
}
.top_sect p:nth-child(3){
 /*padding-right: 193px;*/
}
.top_sect p:nth-child(4){
  /*padding-right: 169px;*/
}
.text_headd{
display: block;
position: absolute;
right: 102px;
width: 406px;
background-color: rgba(82, 76, 72, 0.46);
height: 139px;
text-align: center;
top: 25px;
}
.top_sect_index{
  position: relative;
  margin: 0 auto;
  height: 461px;
  font-family: 'Conv_Ubuntu-Regular';
  color: #fdf9e0;
  text-align: right;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.header_slider{
	max-width:100%;
	overflow-x:hidden;
}




.activeSlide p{
  background-image: url('/_/i/slider_cyrcle_active.png') !important;
  background-repeat: no-repeat;

}
header #nav li p{
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
header{
  position: relative;
}
header #nav{
  position: absolute;
  top: 397px;
  z-index: 6;
  left: 0;
  right: 0;
  text-align: center;
}
header #nav li{
  display: inline-block;

}


.text_head1{
display: block;
position: absolute;
margin: 0 auto;
right: 0;
left: 0;
width: 395px;
height: 160px;
bottom: 57px;
background-color: rgba(32, 29, 29, 0.06);
}
.top_sect_index p:first-child{
font-size: 32px;
text-transform: uppercase;
/* margin-top: 0px; */
/* padding-right: 388px; */
padding-bottom: 9px;
padding-top: 24px;
text-align: center;
}
.top_sect_index p{
  margin-top: 0px;
  /*padding-right: 50px;*/
  margin-bottom: 3px;
  line-height: 24px;
  text-align: center;
}
.top_sect_index p:nth-child(2){
  /*padding-right: 383px;*/
}
.top_sect_index p:nth-child(3){
  /*padding-right: 380px;*/
}
.top_sect_index p:nth-child(4){
  /*padding-right: 363px;*/
}
.image_top_menu{
  height: 9px;
  background-image: url('/_/i/top_menu.png');
}
h1.logo:before{
  display: none;
}
ul,
body{
  margin: 5;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #252525;
  font-size: 17px;
/*      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
body{
  margin: 0;
}
header{
  /*width: 1200px;*/
/*margin: 0 auto;*/
}

.menu li a{
font-family: 'MyriadPro-Regular', 'Myriad Pro Regular', 'MyriadPro', 'Myriad Pro', Helvetica, Arial, sans-serif;;
font-size: 17px;
text-decoration: none;
color: #484747;
}
.c01_index{

  height: 542px;
}
.menu li a:hover{

  text-decoration: underline;
}
.menu li{
display: inline-block;
padding: 18px 1px 12px 23px;
background-image: url('/_/i/menu_image.png');
background-repeat: no-repeat;
background-position: top center;
margin-top: -1px;

}
.sm11{
  display: inline-block;
  border:5px solid #fdf9e0;
  position: relative;
  height: 185px;
  vertical-align: top;
  box-shadow: 0px 0px 16px 1px;
  margin-right: 5px;
}
.sm11 a{
  color: #252525;
}
.sm11:last-child{
margin-right: 0;
}
.sm11 img:nth-child(2){
  position: absolute;
  z-index: 1;
  left: -1px;
  bottom: -2px;
}
.sm11 p{
position: absolute;
z-index: 1;
bottom: 0;
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 31px;
font-weight: 100;
width: 314px;
text-transform: uppercase;
margin-bottom: 4px;
text-align: center;

}
.sm1 li{
  display: inline-block;
  height: 103px;
background-repeat: no-repeat !important;
background-position: top center !important;
margin: 0 25px;
vertical-align: top;
}
.sm1 li:first-child{
  margin-left: 0;
}
.sm1 li:last-child{
  margin-right: 0;
}
.sm1 li span{
margin-top: 98px;
display: block;
text-transform: uppercase;
font-size: 15px;
}
.sm1{
  height: 447px;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  display: block;
  padding-top: 22px;
}
.border{
  background-image: url('/_/i/sub_menu.png');
height: 56px;
background-position: center top;
background-repeat: no-repeat;
}
.sm1 h1{
  color: #af030f;
  margin-top: 32px;
  font-size: 35px !important;
  margin-bottom: 27px;
}
.sm1 ul{
  color: #af030f;
}
h3.logo,
h1.logo{
  width: 189px;
  height: 109px;
  background: url("/_/i/logo.png");
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-top: 19px !important;
  margin-left: -85px;

}
.maintextlogo{
position: absolute;
right: 0;
left: 0;
top: 102px;
font-size: 16px;
}
.left_article{
  display: inline-block;
  width:263px;
}
.left_article > a{
font-size: 15px;
margin-left: 157px;
text-decoration: underline;
margin-bottom: -4px;
display: block;
}
.left_article img:last-child{
margin-top: 7px;
width: 254px;
}
.left_article img:first-child{
width: 254px;
}
.slider_index_small img{
  display: inline-block;
  margin-left: -5px;
  width: 172px;
  height: 127px;
  border:none !important;
  border:3px solid #e3e5fd !important;
  border-radius: 5px;
}
.slider_index_small .caroufredsel_wrapper{
  border:none;
}
.slider_index_small{
  width: 925px;
  position:relative;
  margin: 0 auto;
}
.slider_index_small ul{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.slider_small_index_prev{
  position: absolute;
  left: 6px;
top: 52px;
}
.slider_small_index_next{
  position: absolute;
  right: 13px;
top: 52px;
}
.slider_small{
width: 1000px;
height: 148px;
margin: 0px auto 0px;
  text-align: center;
  position: relative;
top: 50%;
  }
.slider_index_small li{

  text-align: center;
  display: block;
  width: 172px;
  height: 127px;
  padding: 0;
  margin: 6px;
  float: left;
  position: relative;
}


.right_article{
  display: inline-block;
  width: 730px;
  vertical-align: top;
  line-height: 26px;
  font-size: 14px;
  color: #5e5e5e;
  margin-left: 1px;
}
.left_article img{
  display: block;
}
#cart{
float: right;
border-bottom: 1px solid #999;
width: 234px;
text-align: right;
font-size: 14px;
color: #999;
}
#cart a{
  text-decoration: none;
}
.imgcart{
  /*width: 29px;*/
  width: 26px;
/*height: 27px;*/
height: 23px;

background-position: 0px 0px;
cursor: pointer;
background-repeat: no-repeat;
display: inline-block;
margin-top: 12px;
}
.carttext{
  display: inline-block;
  margin:16px 22px 10px 0;
  font-size: 13px;
  vertical-align: top;
}
.slider{
  position: relative;
  width: 100%;
  height: 500px;
  max-width: 1900px;
  margin: 0 auto;
}
.slider >div{
  width: 100% !important;
 height: 625px !important;


}
.slider div img{
  height: 500px;
  position: absolute;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  max-width: 1900px;
  width: 100%;
}
.text_slid p:nth-child(1){
  margin: 0;
  font-size: 56px;
  color: #282828;
  font-family: 'Conv_Ubuntu-Light';

}
.text_slid p:nth-child(2){
  margin: 0;
  font-size: 38px;
  color: #282828;
  width: 587px;
  /*border-bottom: 1px solid black;*/
  padding-bottom: 21px;
  white-space: nowrap;
  font-family: 'Conv_Ubuntu-LightItalic';;

}
.text_slid p:nth-child(3){
  font-family: 'Conv_Ubuntu-Light';
  width: 385px;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #292929;
  height: 50px;

}
.text_slid{
  position: absolute;
  z-index: 2;
  width: 1178px;
  bottom: 0;
  margin-left: -600px;
  left: 50%;
  margin-bottom: 41px;
  text-decoration: none;

}
.main{
  width: 1000px;
  margin: 0 auto;
  display: block;
}
.inform_main{
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  margin-top: 9px;
}
.inform_main a{
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  font-size: 15px;
}
.left_article .inform-h3{
  text-transform: uppercase;
  color: #9d2629;
  font-size: 19px;
  font-weight: 100;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.main_arhivs li{
  padding-bottom: 7px;
  width: 244px;
padding-left: 13px;
}
.main_arhivs li:last-child{
  padding-bottom: 0px;
}
.viewcatalog{
    width: 333px;
  height: 59px;
  display: block;
  text-align: center;
  background: #0070bd;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Conv_Ubuntu-Light';
  line-height: 67px;
  position: absolute;
  bottom: 0px;
  right: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.menu li div ul li ul li a:hover{
  text-decoration: underline;
}
.text_slid a{
  width: 333px;
  height: 59px;
  display: block;
  text-align: center;
  background: #0070bd;
  color: #ffffff;
  text-decoration: none;
   text-transform: uppercase;
  font-family: 'Conv_Ubuntu-Light';
  line-height: 67px;
  position: absolute;
  bottom: -41px;
  right: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.text_slid a:hover{
  text-decoration: underline;
}

nav.top_nav {
  position: relative;
  width: 990px;
margin: -17px auto 0;
display: block;
}


.over{

}
.c00{
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}
.contain_nav{
}
.secondary_menu{
  position: relative;
  margin: 0 auto;
  width: 1221px;
  min-height: 131px;

}
.secondary_menu ul{
  background: white;
  padding-top: 120px;
  margin-top: -99px !important;
  padding-left: 0px;
  width: 19.7%;
  margin-left: 977px;
  display: none;
  z-index: 556;
  position: relative;
}
.open_menu {
  width: 23px;
  height: 24px;
  background: url("/_/i/sprite.png");
  background-position: -162px 0;
  cursor: pointer;
  margin-top: 54px;
  margin-left: 1187px;
  position: absolute;
}
.secondary_menu ul li{
  padding-bottom: 4px;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 8px 52px;
}
.c01{
background-image: url('/_/i/sub_menu.png');
height: 60px;
background-position: center;
background-repeat: no-repeat;
}



.c2:hover{
  display: block;
}
.menu li ul li{
  border: none;
  color: #FFFFFF;
  margin-top: 10px !important;
  height: initial;
  min-height: initial;
  width: initial;
  padding: 0 115px;

}


.sec_1{
  text-align: center;
  width: 1200px;
  margin: 0 auto;

}
.sec_1:before{

}
h2.logo:before{
 display: none;
}
.sec_1 h2{
margin-bottom: 30px;
}
h1:before,
h2:before{
/*    width: 75px;
  height: 85px;
  background: url("/_/i/sprite.png");
  position: absolute;
  background-position: -219px -264px;
  left: 50%;
  margin-left: -40px;
  margin-top: -110px;
  content: "";
  z-index: -1;*/
}
h1{
  font-size: 26px !important;
  text-align: center;
}
h1,
h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  /*color: #5f5f5f;*/
  color: #0070bd;
  font-weight: 100;
  font-size: 24px;
  margin-top: 45px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.bot_h{
  width: 888px;
  margin:0 auto;
  font-size:19px;
}
.pros{
  margin-top: 20px;

}
.pros li{
  margin-bottom: 8px;

}
.pros li:after{
 margin: -5px 0px 0px 30px;
 position: absolute;
 content: ".";

}
.pros li:before{
 content: ".";
 margin: -5px 0px 0px -30px;
 position: absolute;;
}
.structure{
  margin-top: 40px;
}
.structure li {
  width: 129px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0px 22px;
}
.structure li:first-child{
  margin-left: -8px;
}
.structure li:last-child{
  margin-right: 0px;
}
.structure li a{
  padding-top: 97px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center !important;
  width: 149px ;
}
.produc li a{
text-align: center;
}
.orient_ul li{
  padding-left: 13px;
  display: inline-block;
  background-image: url('/_/i/sub_categ_foto.png');
  background-repeat: no-repeat;
  width: 233px;
  background-position: 0px 4px;
  margin-bottom: 2px;
  vertical-align: top;
}
.orient_ul li:hover{
  text-decoration: underline;
}
.orient_ul li a{
  color: #678193;
   font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.sec_2{
  width: 1200px;
  margin: 0 auto;
  min-height: 200px;

}
.sec_2 h2{
  text-align: center;
  margin-top: 110px;

}
.firstmainblock{
height: 457px;
display: inline-block;
vertical-align: top;

width: 383px;
background-position: -3px -3px;
}
.firstmainblock h1{
  font-family: 'Conv_Ubuntu-bold';
  font-size: 45px !important;
  color: #0070bd;
  margin: 73px 0 212px 0 !important;
}
.firstmainblock input{
  border: 1px solid #e94000;
  height: 33px;
  width: 268px;
  display: block;
  margin: 0 auto;
  padding-left: 12px;
  margin-bottom: 14px;
  font-size: 13px;
}
*::-webkit-input-placeholder {
    color: #999;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

.input_colorserror::-webkit-input-placeholder {
    color: red;
}
.input_colorserror:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.input_colorserror::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.input_colorserror:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}


.input_colors::-webkit-input-placeholder {
    color: green;
}
.input_colors:-moz-placeholder {
    /* FF 4-18 */
    color: green;
}
.input_colors::-moz-placeholder {
    /* FF 19+ */
    color: green;
}
.input_colors:-ms-input-placeholder {
    /* IE 10+ */
    color: green;
}

.firstmainblock button{
  border: 1px solid #f98a5f;
  background-color: #e94000;
  height: 44px;
  width: 280px;
  display: block;
  margin: 0 auto;
  font-family: 'Conv_Ubuntu-medium';
  font-size: 18px;
  color: white;
}
.firstmainblock button:hover{
  background-color: #faa17f !important;
  cursor: pointer;
}
.lastmainblock{
height: 457px;
display: inline-block;
vertical-align: top;
width: 800px;
margin-left: 12px;
}
.lastmainblock h1{
  font-family: 'Conv_Ubuntu-bold';
  font-size: 45px !important;
  color: #0070bd;
  margin: 326px 0 0 421px !important;
  width: 353px;
text-align: right;
}
.actionmain h1{
  font-family: 'Conv_Ubuntu-bold';
  font-size: 45px !important;
  color: #fff;
  margin: 88px 0 0 55px !important;
  width: 353px;
text-align: left;

}
.actionmain p{
  font-size: 24px ;
  color: #fff;
  margin-top: 126px;
  margin-left: 55px;
}
.actionmain{

}
.ex_work{
  height: 915px;
  width: 1200px;
  font-size: 0;
}
.ex_work .c3{
  vertical-align: top;
  position: relative;
}
.ex_work .c3 img{
  height: inherit;
  width: inherit;
}
.ex_work .c3_2{
  vertical-align: top;
  position: relative;
}
.ex_work .c3_2 img{
  height: inherit;
  width: inherit;
}
.ex_work .block1 {
  width: 600px;
  height: 260px;
  position: relative;
  display: inline-block;

}
.ex_work .block2 {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
}
.ex_work .block3 {
  width: 200px;
  height: 200px;
  position: relative;
   display: inline-block;
}
.ex_work .block4 {
  width: 200px;
  height: 200px;
  position: relative;
   display: inline-block;
}
.c4{
  display: inline-block;
  width: 600px;
}
.logo_top_bar{
  height: 80px;
  display: block;
  left: 50%;
  position: absolute;
  margin-left: -602px;
  background-position: -326px -42px;
  margin-top: 28px;
  z-index: 999999;
  font-size: 0;
  background: rgb(255, 255, 255);
  overflow: hidden;
  width: 0px;
}
.logo_top_bar a{
  display: block;
  position: absolute;
  /*background-position: -326px -45px;*/
  z-index: 9999;
  width: 168px;
  height: 79px;
  background-image: url("/_/i/logo.png");
  zoom: 0;
  background-repeat: no-repeat;
  /*margin-left: 48px;*/

}
.block5{
 width: 600px;
 height: 460px;
  display: inline-block;
 vertical-align: top;
 overflow: hidden;
}
.block6{
  width: 400px;
  height: 457px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.block7 {
  width: 800px;
  height: 312px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.block7 img{
  height: 100% !important;
}
.text_block{
  background-image: url("/_/i/bg_text.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: white;
  opacity: 0;
}
.text_block div{
  position: absolute;
  bottom: 0;
  padding: 0px 7%;
}
.text_block div p{
  margin: 20px 0px;

}
.stock{
  color: #0070bd;
  font-size: 29px;
  text-decoration: none;
}
.stock_time{
color: #0070bd;
width: 276px;
font-size: 16px;
margin-top: 0px;
margin-bottom: 0px;

}
.actiitext{
  margin-top: 35px;
  margin-bottom: 60px;
}
.stock_text{
  color: #666666;
  width: 530px;
  font-size: 18px;

}
.container_stock{
  font-size: 16px;
  vertical-align: top;
  margin-left: 21px;
  margin-bottom: 0px;
  display: inline-block;

}
.actii .c3_2.block7 p{
}
.news_partners{
  width: 1200px;
  margin: 0 auto;
  margin-top: 49px;
}
.news_partners article{
  width: 45%;
  vertical-align: top;
  display: inline-block;
  position: relative;
  height: 457px;
}
.news_partners article.actionmain{
  width: 50%;

}
.news_partners article.actionmain:hover{
  text-decoration: underline;
}
.partners > h1{
  margin-top: -7px !important;
  margin-bottom: 45px;
}
.download_prezent input{
  width: 653px;
  margin:0 auto;
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  border:1px solid #999;
}
.partners{
  margin-bottom: 50px;
}
.partners .news_partners{
  margin-top: 89px;
}
.download_prezent a{
padding: 11px 56px;
margin: 8px auto;
display: block;
border: 1px solid #f98a5f;
background-color: #e94000;
width: 168px;
font-family: 'Conv_Ubuntu-medium';
color: white;
text-decoration: none;
text-transform: uppercase;
text-align: center;
}
.productions h1{
  margin-top: 5px !important;
  margin-bottom: 29px;
}
.download_prezent h3{
  margin-top: 71px;
  color: #5f5f5f;
  margin-bottom: 55px;
  text-align: center;
  font-weight: 100;
  font-size: 22px;
}
.news_partners article:nth-child(1){
  margin-right: 53px;
}
.news_partners h3{
  font-size: 24px;
  font-weight: 100;
  color: #0070bd;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 33px;
}
.firstnews p{
  font-family: 'Conv_Ubuntu-LightItalic';
  font-size: 14px;
  color: #0070bd;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0px;
}
.news_partners h3:hover{
  text-decoration: underline;
}
.news_partners time{
  font-family: 'Conv_Ubuntu-LightItalic';
  margin-bottom: 19px;
  display: block;

}
.news_partners article ul{
  position: absolute;
  right: 15px;

}
.news_partners article ul li{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

}
.news{
  display: block;
  min-height: 140px;
}
.news{
  /*display: none;*/
}
.news_partners article ul li a{
  width: 5px;
  height: 5px;
  background: #0070bd;
  display: block;
  cursor: pointer;
  margin: 1px;
  border: 1px solid white;
  vertical-align: middle;
  border-radius: 100%;

}
.news_partners article ul li.active{
  border-radius: 100%;
  border: 1px solid #0070bd;

}
.prodmain{
  display: inline-block;
  vertical-align: top;
  width: 236px;
  color: #333;
}
.prodmain img{
  border: 1px solid #ccc;
  width: 223px;
  height: 223px;
  background-repeat: no-repeat;
  background-position: center center;
background-size: contain;
}
.prodmain p{
  font-size: 16px;
  width: 210px;

}
.prodmain:hover{
  color: #e94000 !important;
}

.sect_products{
  width: 1200px;
  margin: 0 auto;
}
.sect_products h2{
  text-align: center;
  color: #0070bd;
  font-size: 25px;
  margin-top: 44px !important;

}
.slogan{
  text-align: center;
  font-size: 45px;
  margin: 100px 0;

}
.slogan span{
  font-size: 30px;
  font-family: 'Conv_Ubuntu-LightItalic';
  display: block;
  color: #0070bd;

}
.slogan:before{
  display: block;
  background-image: url("/_/i/sprite.png");
  position: absolute;
  content: "";
  width: 15px;
  height: 17px;
  left: 50%;
  background-position: -22px -25px;
  margin: -60px -16px;
}
.slogan:after{
  display: block;
  background-image: url("/_/i/sprite.png");
  position: absolute;
  content: "";
  height: 17px;
  width: 15px;
  left: 50%;
  background-position: -22px -25px;
  margin: 60px -16px;
}
footer ul li a{
  font-family: 'MyriadPro-Regular', 'Myriad Pro Regular', 'MyriadPro', 'Myriad Pro', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #484747;
}
footer ul li a:hover{
  text-decoration: underline;
}

footer ul li{
  margin-bottom: 5px;
  display: inline-block;
padding: 0px 22px;
}
footer{
  background-color: #e6e6e6;
  display: block;
  position: relative;
  padding-bottom: 0px !important;
  margin-top:51px;
    clear: both;

}
.left_footer p{
  margin-top: 0px;
margin-bottom: 7px;
}
.footer{
  width: 1000px;
  margin: 0 auto;
}
footer ul{
  margin-top: 20px;
  display: inline-block;

}
footer h1.logo{

  margin-top: 0px !important;
  top: 52px;

}
.left_footer{
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  color: #5e5e5e;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  font-size: 14px;
}
.left_footer p span{
font-size: 19px;
}
.right_footer{
  display: inline-block;
}
.right_footer p{
  text-align: right;
  font-size: 13px;
  color: #868686;
  margin-top: 23px;
}
#Mname{
  display: block;
  margin-bottom: 2px;
}
.send_mes{
  font-size: 15px;
  margin-top: 33px;
  margin-left: 67px;
}
.send_mes input{
  width: 242px;
  height: 28px;
  padding-left: 12px;
}
.send_mes textarea{
  width: 231px;
  height: 58px;
  padding-top: 8px;
  padding-left: 13px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.send_mess_div{
  display: inline-block;
  vertical-align: top;
    font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}

.create{
  color: #535353;
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.create a{
  color: #0070bd;
  text-decoration: none;
}
.copyright_footer{
 padding-bottom: 1px;
}
.right_block{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 333px;
  top: 0;
}
.right_block p {
  color: #a7a7a7;
  margin-bottom: 30px;
  line-height: 135%;
  margin:27px 0 0 0
}
.right_block p:first-child{
  margin-top:41px;
}
.right_block .write {
  width: 333px;
  height: 59px;
  display: block;
  text-align: center;
  background: #e94000;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Conv_Ubuntu-Light';
  line-height: 67px;
  position: absolute;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 0;
  bottom: -20px;
  /*bottom: -66px;*/
  right: 0;

}
.right_block p:nth-child(3){
  margin-bottom: 65px;

}
.right_block div{
   width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom:0px;
  top: 33px;
  display: block;
  border-left: 1px solid #cccccc;
}
.right_block div a{
  display: block;
  width: 12px;
  height: 25px;
  background: url("/_/i/sprite.png");
  background-position: -138px 0px;
  margin: 6px 15px;
}
.right_block a:hover{
  background-position: -150px 0px;
}
.download{
  position: absolute;
  display: block;
  font-size: 14px;
  color: #0070bd;
  text-decoration: none;
  border: 1px solid;
  padding: 7px 15px;
  border-radius: 30px;
  bottom: 70px;
  left: 50%;
  margin-left: -77px;
     transition: all 0.2s;
  -webkit-transition: all 0.2s;

}
.download:hover{
  color: white;
  background: #0070bd;
  border: 1px solid;
   transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.top{
  position: absolute;
  bottom: 150px;
  left: 50%;
  font-size: 18px;
  margin-left: -80px;
  color: #999999;
  text-align: center;
  cursor: pointer;
    width: 140px;
  white-space: nowrap;
  padding-top: 45px;
  top: 76%;

}
.close_all{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
}
.top:before{
      background: url("/_/i/sprite.png");
      background-position: -222px -26px;
      width: 32px;
      height: 16px;
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      margin-left: -15.5px;
      margin-top: -25px;
}
.questions_answers{
  position: absolute;
  top: 0;
  z-index: 66;
  background: #2fa6a0;
  width: 100%;
  display: none;
  border-top: 2px solid black;
  height: 800px;
  overflow: auto;
}
.questions_answers h2{
  margin-top: 110px;
  color: white;
  font-size: 27px;
  text-align: center;

}
.questions_answers h2:before{
  display: none;
}
.questions_answers article{
  width: 1200px;
  margin: 0 auto;
  color: white;
  font-size: 16px;

}
.questions_answers article p{
  margin-top: 10px;
  margin-bottom: 40px;

}
.questions_answers article h3{
  font-family: 'Conv_Ubuntu-LightItalic';
  font-weight: 100;
  margin-bottom: 0;

}
.questions_answers .close{
  background: url("/_/i/sprite.png");
  background-position: -260px 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 118px;
  margin-left: 330px;
  cursor: pointer;

}
.block_search{
  position: absolute;
  width: 100%;
  background: white;
  height: 500px;
  z-index: 66;
  border-bottom: 1px solid #333;

}
.block_search p{
  text-align: center;
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 148px;

}
.block_search{
  display: none;
}

.block_search .c5, #intl-phone-input{
  width: 735px;
  margin: 0 auto;
  display: block;
  border: none;
  outline: none;
  height: 45px;
  background: #5ebcb8;
  text-indent: 10px;
  color: #333;
  font-family: 'Conv_Ubuntu-Light';

}
.block_search .c5{
   background: white;
   border: 1px solid #333;
}
.block_search .c6:hover{
      transition: all 0.2s;
  -webkit-transition: all 0.2s;
   background: white;
   color: #e94000;

}
.block_search .c6{
  width: 180px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 66px;
  background: transparent;
  border: 1px solid #333;
  color: #333;
  border-radius: 100px;
  cursor: pointer;
  font-size: 21px;
  font-family: 'Conv_Ubuntu-Light';
     transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.block_search .close2{
    background: url("/_/i/sprite.png");
  background-position: -260px 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 145px;
  margin-left: 330px;
  cursor: pointer;

}
.left_bl{
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding-top: 50px;

}
.right_bl h2{
  margin: 0;
  text-align: left;
  color: #333;
  font-size: 23px;
  height: 66px;

}
.right_bl{
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-top: 47px;

}
.right_bl h2:before {
  display: none;
}
.new_colection{
  width: 260px;
  display: block;
  text-align: center;
  background: #08a4a0;
  color: white;
  padding: 8px 0px;
  margin-top: -43px;
  position: absolute;

}
.new_colection:before{
  content: "";
  background: url("/_/i/sprite.png");
  position: absolute;
  width: 11px;
  height: 37px;
  margin: -8px 202px;
  background-position: -278px -6px;
}
.slide2{
  width:548px;
  height: 601px;
  position: relative;
  border:1px solid #cfc6c6;
}

#slideshow{

    width:548px;
  height: 484px;
  position: relative;
}
.slide2 #nav li{
  display: inline-block;
}
.slide2 #nav{
  border-top: 1px solid #cfc6c6;
  margin-left: 7px;
  width: 533px;
}
.slide2 #nav img{
  width: 100px;
  height: 100px;

  margin: 7px 4px;
}
.slide2 #nav li:first-child img{
  margin-left: 0px;
}
.slide2 #nav li:last-child img{
  margin-right: 0px;
}

.pics img {
height: 475px;
width: 472px;
padding: 0px;
background-repeat: no-repeat !important;
background-size: contain;
margin: 0 auto;
display: block;
background-position: center center;
  display: block;
  margin-top: 9px;
padding-bottom: 9px;
right: 0;
}
.donl_1{
  width: 290px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #0070bd;
  border: 1px solid;
  padding: 8px 0;
  border-radius: 20px;
  margin-top: 40px;

}
.sect_products a{
  text-decoration: none;
}
.subsc_miu{
  width: 442px;
  background-color: #ecebe6;
  height: 44px;
  margin-top: 30px;
}
.subsc_miu a{
  display: block;
}
.subsc_miu img{
  margin-left: 53px;
  margin-top: 10px;
  vertical-align: top;
}
.subsc_miu p{
  margin-top: 10px;
  display: inline-block;
  margin-left: 53px;
}
.option_prod{
  margin-top: 17px;
}
.right_bl h4{
  margin-top:7px;
  font-weight: 100;
  margin-bottom: 28px;
}
.right_bl{
  margin-top:4px;
  font-weight: 100;
  margin-bottom: 28px;
  font-size: 16px;
}
.prod_body{
  border-bottom: 1px solid #333;
  padding-bottom: 17px;
}
.prod_recomend{
 border-bottom: 1px solid #333;
}
.prod_recomend{

}
.prod_recomend span{
  display: inline-block;
  vertical-align: top;
  color: #00911a;
  margin-right: 50px;
  margin-top: 28px;
}
.prod_recomend p:nth-child(2){
  display: none !important;
}
.prod_recomend p{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-top: 28px;
  margin-bottom: 35px;
}

.prod_recomend p:last-child{
  display: none;
}
.prod_color_item{
  width: 23px;
  height: 23px;
  display: inline-block;

}
.prod_color{
  display: inline-block;
  vertical-align: top;
  width: 345px;
}
.prod_color input[type="radio"] {
    display:none  !important;
}

.prod_color input[type="radio"] + label {
    color:#333;
}
.prod_color input[type="radio"] + label span {
    display:inline-block  !important;
    width:23px  !important;
    height:23px  !important;
    margin:6px 2px 0 0  !important;
    vertical-align:middle  !important;
    /*background:url("/_/i/radiobut.png") 0px top no-repeat !important;*/
    cursor:pointer  !important;
    border:2px solid white;
    outline: 2px solid white;
}
.prod_color input[type="radio"]:checked + label span {
    /*background:url("/_/i/radiobutchech.png") 0 top no-repeat  !important;*/
    border:2px solid white;
    outline: 2px solid #f64400;
}
.prod_faceb a{
  display: block;
  width: 12px;
  height: 25px;
  background: url("/_/i/sprite.png");
  background-position: -138px 0px;
  margin: 6px 15px;
}
.prod_faceb a:hover{
  background-position: -150px 0px;
}
.prod_faceb {
  width: 111px;
  height: 37px;
  display: inline-block;
  border-left: 1px solid #cccccc;
  vertical-align: top;
}
.prod_likes a{
  height: 24px;
  width: 30px;
  display: inline-block;
}
.prod_likes{
  display: inline-block;
  margin-top: 6px;
}
.prod_size{
  margin-top: 24px;
}
.prod_size input[type="radio"] {
    display:none  !important;
}

.prod_size input[type="radio"] + label {
    color:#333;
}
.prod_size input[type="radio"] + label span {
    display:inline-block  !important;
    width:23px  !important;
    height:16px  !important;
    margin:0px 5px 0 0  !important;
    vertical-align:middle  !important;
    /*background:url("/_/i/radiobut.png") 0px top no-repeat !important;*/
    cursor:pointer  !important;
    border:2px solid white;
    outline: 1px solid #cfc6c6;
    font-family: 'Conv_Ubuntu-Medium';
    padding: 4px 30px;
    text-align: center;
}
.prod_size input[type="radio"]:checked + label span {
    /*background:url("/_/i/radiobutchech.png") 0 top no-repeat  !important;*/
    border:2px solid white;
    outline: 2px solid #f64400;
}
.prod_summa{
  background-color: #ecebe6;
  margin-top: 29px;
  height: 80px;
}
.prod_summa h3{
  display: inline-block;
  vertical-align: top;
  font-size: 35px;
  font-family: 'Conv_Ubuntu-Regular';
  font-weight: 100;
  padding-left: 27px;
  margin-top: 19px;
  width: 240px;
}
.prod_summa input{
  display: inline-block;
  vertical-align: top;
  width: 78px;
  height: 24px;
  margin-top: 24px;
  text-align: center;
}
.prod_summa p{
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin-left: 86px;
  width: 117px;
  background-image: url('/_/i/arrowprice.png');
  background-repeat: no-repeat;
  background-position: 88px 11px;
  font-weight: 600;
}
.prod_summa span{
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
  padding-left: 7px;
}
.zile_intors{
  margin-top: 0 !important;
  font-size: 39px !important;
  padding-left: 0px !important;
}
.spanprice{
  margin-top: 21px;
}
.but_prod button{
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
.but_prod .donestep{
  height: 45px !important;
  padding-top: 0px;
}
.but_prod .donestep:hover{
  cursor: pointer;
}
.but_prod .buttsend{
  margin-left: 30px !important;
  cursor: pointer;
}
.but_prod .buttsend:hover{
  background-color: #faa17f !important;
}
.slider_big{
  width: 1010px;
  margin: 0 auto;
  position: relative;
  height: 466px;
  margin-bottom: 44px;
}
#wrapper img{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/*.slider_big div{

}
.slider_big img{
  height: 200px;
  width:200px;
  display: inline-block;
  vertical-align: top;
}
.slider_big img:first-child{
  height: 46px;
  width:46px;
  position: absolute;
  top: 42%;
  left: 174px;
}*/

#carousel-left img{
  width: 158px;
  height:343px;
}
#carousel-center img{
    /*width: 690px;*/
  /*height:461px;*/
}
#carousel-right img{
    width: 158px;
  height:343px;
}
.main_slider h1{
  margin-top:-28px;
  margin-bottom: 0px;
  padding-bottom: 9px;
  color: #af030f;
  font-size: 35px !important;
}
.main_slider{
  margin-top: 32px;
}
/*
.slider_big img:nth-child(3){
  width: 690px;
  height:461px;
}
.slider_big img:nth-child(4){
  width: 158px;
  height:343px;
  margin-top: 67px;
  margin-left: -3px;
}
.slider_big img:last-child{
  height: 46px;
  width:46px;
  position: absolute;
  top: 42%;
  right: 178px;
}*/

.constructor_odej{
  height: 330px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: -1px -1px;
  border: 1px solid #cfc6c6;
}
.constructor_odej h3{
  font-size: 45px;
  font-family: 'Conv_Ubuntu-Bold';
  width: 400px;
  color: #0070bd;
  padding-top: 33px;
}
.constructor_odej a{
  text-decoration: none;
  height: 330px;
  width: 100%;
  display: block;
  padding-left: 54px;
  color: #333;
}
.categories_prod{
  margin-bottom: 49px;
}
.categories_items{
  height: 322px;
  border: 1px solid #cfc6c6;
  display: inline-block;
  vertical-align: top;
  width: 293px;
  margin-right: 3px;
}
.categories_items:hover p.title_prods{
  color: #e94000;
  text-decoration: none;
}
.categories_items:last-child{
  margin-right: -2px;
}
.categories_items img{
  margin: 10px auto 0px;
  display: block;
  width: 274px;
  height: 221px;
}
.categories_items .title_prods{
  margin-top: 8px;
  padding:0 10px;
  font-size: 15px;
  text-decoration: underline;
}
.categories_items .price_prod_categ{
  margin-top: 8px;
  padding:0 10px;
  font-size: 14px;
}
.categories_items a{
  color: #333;
  text-decoration: none;
}
.text_before_categ{
  font-size: 25px;
  text-align: center;
  color: #0070bd;
  font-weight: normal;
  margin-top: 38px;
}




.c03 form input[type="submit"]:hover,
.c03 form a:hover,
.donl_1:hover,
.donl_2:hover{
  color: white;
  background: #0070bd;
  border: 1px solid;
}
.donl_2{
  width: 290px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  color: #0070bd;
  border: 1px solid;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 10px;

}
.right_bl p.first{
  margin-top: 0
}
.left_s{
  /*width: 46px;*/
  /*height: 390px;*/
  position: absolute;
  left: 9px;
  top: 285px;
  z-index: 33;
  cursor: pointer;
  display: block;
}
.slide2_2 img{
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 100%;
}
.slide2_2{
  width: 100%;
  height: 100%;
}

.right_s {
  /*width: 46px;*/
  /*height: 390px;*/
  position: absolute;
  right: 9px;
  top: 285px;
  z-index: 33;
  cursor: pointer;
}
.c01{

}
.technical_characteristic tr{

}
.technical_characteristic td{
  width: 70px;
  text-align: center;
  border: 1px solid #0070bd;
  border-left: 0 !important;
  border-bottom: 0 !important;

}
.technical_characteristic td:first-child{
  width: 280px;
  padding: 20px 0;
  border: 1px solid #0070bd;
  text-indent: 20px;
  text-align: left;
  border-left: 1px solid #0070bd !important;

}
.c02{
  margin-top: 100px;
  margin-bottom: 40px;
}
.technical_characteristic tr:last-child td{
  border-bottom: 1px solid #0070bd !important;
}
.back{
  display: block;
  width: 32px;
  height: 38px;
  background: url("/_/i/sprite.png");
  background-position: -186px 0;
  margin-top: 80px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  transition: all 0.7s;
}
.back:hover {
  -ms-transform: rotate(-360deg); /* IE 9 */
  -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
  transform: rotate(-360deg);
  transition: all 0.7s;
}
.c03{
  width: 1200px;
  margin: 0 auto;

}
p.c04{
  width: 370px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0px;;

}
.send_message{
  border: 1px solid #cccccc;
  border-left: 0;
  border-right: 0;
  margin: 50px 0;
  padding: 10px;
  padding-bottom: 70px;

}
.c03 form {
  position: relative;

}
.c03 form input[type="text"] {
  border: 1px solid #e5e5e5;
  width: 590px;
  height: 49px;
  text-indent: 10px;
  font-family: 'Conv_Ubuntu-Light';
  margin-bottom: 3px;
  display: block;
}
.c03 form input[type="submit"]{
  width: 178px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #0070bd;
  border: 1px solid;
  padding: 8px 0;
  border-radius: 20px;
  margin-top: 45px;
  background: transparent;
  position: absolute;
  right: 0;
  font-family: 'Conv_Ubuntu-Light';

}
.c03 form a{
  width: 338px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #0070bd;
  border: 1px solid;
  padding: 8px 0;
  border-radius: 20px;
  margin-top: 45px;
  margin-bottom: 45px;


}
.c03 form textarea{
  border: 1px solid #e5e5e5;
  width: 590px;
  height: 148px;
  text-indent: 10px;
  font-family: 'Conv_Ubuntu-Light';
  margin-bottom: 3px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 15px;;
}
.price{

}
.pr1{
  color: #0070bd;
  font-size: 14px;
  padding-right: 80px;

}
.pr2{
  text-transform: uppercase;
  font-family: 'Conv_Ubuntu-Medium';
  font-size: 15px;
  padding-right: 20px;

}
.pr3{
  padding-right: 80px;
  font-size: 17px;
  color: #A6A6A6;

}
.pr4{
  text-transform: uppercase;
  font-family: 'Conv_Ubuntu-Medium';
  font-size: 15px;
  color: rgb(23, 141, 151);

}
.pr3 i{
  font-style: normal;
  text-decoration: line-through;;
}
.related_products{
  width: 1235px;
  margin: 0 auto;

}
.related_products figure{
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  margin-top: 30px;

}
.related_products figure img{
  width: 182px;
  height: 182px;
  background-size: cover !important;
  background-position: center;
}
.related_products figure h4{
  width: 104px;
  font-size: 13px;
  margin: 10px;;
}
  .related_products figure a{
  color: #636363;
  text-decoration: none;
  }



.sec_1.contactpage h1{
  margin-top: 6px !important;
  margin-bottom: 47px;
}
.textcontact{
  text-align: left;
  display: inline-block;
  /*border: 1px solid;*/
  margin: 0;
  line-height: 21px;
  width: 471px;
}
.contactpage .textcontact{
  display: block;
  margin: 0 auto;
  line-height: 21px;
  width: auto;
}

.conctactformm .buttsendform{
  padding: 11px 56px;
  margin:8px auto ;
 display: block ;
border: 1px solid #f98a5f ;
background-color: #e94000 ;
/*height: 44px ;*/
width: 168px ;
font-family: 'Conv_Ubuntu-medium' ;
color: white ;
margin-left: 33px ;
text-decoration: none;
text-transform: uppercase;
float: right;
text-align: center;
}
.map > h4{
  margin-top: 25px;
  margin-bottom: 21px;
}
.conctactformm .buttsendform:hover{
  background-color: #faa17f;
}
.sec_1.contactpage{
  text-align: left;
  margin-bottom: 67px;
}
.linecontact{
width: 54px;
height: 484px;
background: white;
display: inline-block;
}








         .blah{
            background-color: red;
         }
         .blah1{
            background-color: black;
         }

.sec_2.allnews h1{
  margin-top: 42px !important;
  margin-bottom: 52px;
}
.ss-links a:hover{
   background: rgba(0,0,0,0.4);
}
.imgproductions{
  margin-right: 102px;
  margin-top: 32px;
}
.imgproductions:last-child{
  margin-right: 0px;
}
.imgproductions:first-child{
  margin-left: 25px;
}
.liproductions1{
  display: inline-block;
  text-align: center;
  width: 120px;
}
.liproductions2{
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-left: 54px;
}
.liproductions3{
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-left: 58px;
}
.liproductions4{
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-left: 56px;
}
.liproductions5{
  display: inline-block;
  text-align: center;
width: 153px;
margin-left: 40px;
}
.liproductions6{
  display: inline-block;
  text-align: center;
width: 136px;
margin-left: 29px;
}
.liproductions7{
  display: inline-block;
  text-align: center;
  width: 120px;
margin-left: 46px
}
.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
   overflow: hidden;
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,84,123,0.2);
   text-shadow: 0px 1px 1px #fff;
   padding: 20px 0px;
}
.ss-container:before{
    position: absolute;
    width: 1px;
    background: #e94000;
    top: 0px;
    left: 50%;
   margin-left: -3px;
    content: '';
    height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 48%;
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
    height: 100%;
}
.worc_cont img{
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  width: 100%;
}
.worc_cont{
  font-size: 15px;
}
.ss-row:after{
  background: url("/_/i/punct_news.png");
  background-position: 0px 0px;
  width: 9px;
  height: 17px;
  content: "";
  position: absolute;
  margin-top: 3px;
  display: block;
  margin-left: -6px;
  left: 50%;
  background-repeat: no-repeat;
}
.worc_cont time{
  display: block;
  margin-bottom: 35px;
  font-family: 'Conv_Ubuntu-LightItalic';
}
.worc_cont time:hover{
  text-decoration: underline;
}
.worc_cont figure{
  margin: 0;
  display: block;


}
.worc_cont time: .worc_cont time {
}
.c05{
  position: relative;
  width: 455px;
  margin: 0 auto;
}
.c05 div{
    width: 37px;
  height: 37px;
  position: absolute;
  right: -55px;
  bottom: 0px;
  display: block;
  border-left: 1px solid #cccccc;
}
.c05 a:hover {
  background-position: -150px 0px;
}
.c05 div a{
    display: block;
  width: 12px;
  height: 25px;
  background: url("/_/i/sprite.png");
  background-position: -138px 0px;
  margin: 7px 15px;
}

.map{
  width: 100%;
  height:577px;
  position:relative;
  margin-bottom:-50px;
}
.map iframe{
  width: 100% !important;
  height: 100% !important;
}
.c3.block7.block7_1{
  position: relative;
  display: block;
  width: 100%;
  margin-top: 20px;

}
.c3.block7.block7_1 img{
  width: 100%;
  height: 100%;
}
.c3_2.block7.block7_1{
  position: relative;
  display: inline-block;
  width: 1000px;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 29px;
}
.sec_2.actii h1{
  margin-top: 42px !important;
  margin-bottom: 45px;
}
.about h1{
  margin-top: 3px;
}
.delivery h1{
  margin-top: 3px;
}
.sec_2.actii .stock{
  font-size: 25px;
  color: #0070bd;
}
.c3_2.block7.block7_1 img{
  height: 100%;
  display: inline-block;
width: 386px;
}
.c404 footer{
  border: none !important;
}
.c404 .logo{
  margin-left: -115px;

}
.c404{
  /*background: url("/_/i/bg_404.jpg");*/
  width: 100%;
  background-position: center 170px;
  background-repeat: no-repeat;
}
.c06{
  margin-top: 80px;
  color: black;
  font-size: 58px;
  margin-bottom: 0px;

}
.c07{
  color: black;
  margin-top: 0;

}
.c08{
  color: #0cb5aa;
  margin-bottom: 211px;
  display: block;
}
.structure.structure2{

}

.pros.pros2 {
  text-align: left;
  width: 570px;
  margin: 0 auto;
  margin-top: 80px;
}

.bot_h2.bot_h2 {
  text-align: left;
  width: 670px;
}
.pros.pros2 li{
  margin-bottom: 17px;

}
.pros.pros2 li:before{
  width: 12px;
  height: 14px;
  background-position: -38px -26px;
  cursor: pointer;
  position: absolute;
  content: "";
  background-image: url("/_/i/sprite.png");
  margin: 3px -40px;
}
.pros.pros2 li:after{
  display: none;
}
.structure.structure2 li:nth-child(2) a:before{
  width: 109px;
  height: 109px;
  background-position: 0px -154px;
}
.structure.structure2 li:nth-child(3) a:before{
  background-position: 0px -264px;
  width: 109px;
  height: 110px;
}
.structure.structure2 li:nth-child(5) a:before{
  background-position: 0px -484px;
  width: 107px;
  height: 110px;
}
.structure.structure2 li:nth-child(6) a:before{
  background-position: -220px -486px;
  width: 110px;
  height: 110px;
}

.structure.structure2 li:nth-child(7) a:before{
  background-position: -220px -375px;
  width: 112px;
  height: 110px;
}
.structure.structure2 li:nth-child(8) a:before{
  background-position: 0px -704px;
  width: 110px;
  height: 110px;
}
.structure.structure2 li:nth-child(1) a:before {
  background-position: 0px -44px;
  width: 109px;
  height: 109px;
}
.structure.structure2 li:nth-child(4) a:before {
  background-position: 0px -374px;
  width: 110px;
  height: 110px;
}
.structure.structure2 li:nth-child(9) a:before {
  background-position: 0px -595px;
}
.sec_3{
  border-top: 1px solid #0070bd;
  margin-top: 80px;
  border-bottom: 1px solid #0070bd;
  padding-bottom: 50px;

}
.c09{

  margin: 0 auto;
  width: 1200px;
  position: relative;

}
.c09 h4.title{
  width: 550px;
}
h4.title{
  color: #0070bd;
  font-size: 24px;
    font-weight: 100;

}
h4.title span.c11{
  font-size: 20px;

}
h4.title span.c10{
  font-size: 22px;

}
.close3{
    background: url("/_/i/sprite.png");
  background-position: -291px -1px;
  width: 34px;
  height: 34px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}
.c12{
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
}
.c12 img{
  max-width: 569px;
}
.c13 img{
  background-size: cover !important;
  width: 100%;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}

.c13 >a {
  display: inline-block;
  vertical-align: top;
  height: 481px;
  margin-right: 30px;
  width: 545px;
}
.c13 .c14 a:nth-child(1) {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
}
.c13 .c14 a:nth-child(2) {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 200px;
}
.c13 .c14 a:nth-child(3) {
  display: inline-block;
  vertical-align: top;
  height: 255px;
  width: 600px;
  margin-top: 25px;;
}
.c13 {
  font-size: 0;
}
.c14{
  display: inline-block;
  vertical-align: top;
  width: 620px;

}
.c15{
  text-decoration: none;
  font-size: 22px;
  margin-top: 40px;
  display: block;
  text-align: right;
  margin-right: 123px;
  color: #0070bd;

}
.c15:before{
  content: "";
  background-image:url("/_/i/sprite.png");
  width:21px;
  right:0;
  height:43px;
  position:absolute;
  margin:-9px 25px;
}
.c16 a img{
  background-size: cover !important;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}
.c16{
  white-space: nowrap;
  font-size: 0;
  margin-top: 48px;

}
.c16 >a{
  width: 600px;
  height: 440px;
  display: inline-block;
  vertical-align: top;
}
.c16_2{
  display: inline-block;
  width: 600px;
  white-space: normal;
  vertical-align: top;
}

.c16_2 a:nth-child(1) {
  height: 180px;
  display: inline-block;
  width: 600px;
}
.c16_2 a:nth-child(2) {
  width: 600px;
  height: 260px;
  display: inline-block;
}
.c18{
  font-size: 25px;
  margin-top: 50px;
}
.c17{
  white-space: nowrap;
  font-size: 0;

}
.c17 img{
    background-size: cover !important;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}
.c17_1{
  display: inline-block;
  vertical-align: top;
  width: 600px;
  white-space: normal;
}
.c17_2{
  display: inline-block;
  width: 600px;

  vertical-align: top;
  white-space: normal;

}

.c17_1 a{
  width: 600px;
  height: 457px;
  display: inline-block;
}
/*.c17_1 a:nth-child(2){
    width: 600px;
    height: 457px;

}*/
.c17_2 a:nth-child(1){
  width: 600px;
  display: inline-block;
  height: 650px;
  vertical-align: top;
}
.c17_2 a:nth-child(2){
  width: 600px;
  display: inline-block;
  height: 264px;
}
.c19{
  font-size: 0;
 white-space: nowrap;
}
.c19 img{
  background-size: cover !important;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}
.c19 a:nth-child(1){
  display: inline-block;
  width: 800px;
  height: 457px;

}
.c19 a:nth-child(2){
 display: inline-block;
  width: 400px;
  height: 457px;

}
.c20 img{
  background-size: cover !important;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}
.c20 >a{
  width: 600px;
  height: 457px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.c20{
    font-size: 0;
    white-space: nowrap;
}
.c20_1{
  white-space: normal;
  display: inline-block;
  width: 600px;
}
.c21{
    font-size: 0;
    white-space: nowrap;
}
.c20_1 a{
  display: inline-block;
    vertical-align: top;
}
.c21 a{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 458px;
}

.c21 img{
  background-size: cover !important;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100%;
}
.c20_1 >a{
  height: 257px;
  width: 600px;
}
.c20_1 div a:nth-child(1){
  width: 200px;
  height: 200px;
}
.c20_1 div a:nth-child(2){
  width: 400px;
  height: 200px;
}
.c20_1 div{
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.hide .c3{
  overflow: hidden;
}

.c07.c07_2{
  margin-top: 300px;
  margin-bottom: 170px;

}
.c07.c07_2:first-line{
  font-size: 18px;
}
.structure a{
  text-decoration: none;
  color: inherit;
}
.structure.structure2 li:nth-child(5) a:before {
  background-position: 0px -484px;
  width: 107px;
  height: 110px;
}
.structure.structure2 li:nth-child(8) a:before {
  background-position: 0px -704px;
  width: 110px;
  height: 110px;
}
.news_partners a{
  text-decoration: none;
  color: inherit;
}

.firstnews a:hover{
  color: #a3c0df;
}
.actionmain a:hover{
  color: white;
}
.tel{
  text-decoration: none;
  color: inherit;
}
.fo_2{
  border-bottom: none !important;
}
.sec_4{
  /*width: 990px;*/
  width: 1010px;
  margin: 0 auto;
  white-space: nowrap;
}
.sec_4.katalog aside{
float: left;
margin-right: 14px;
}
.sec_4.sub_katalog aside{
float: left;
margin-right: 14px;
}
.sec_4.products aside{
float: left;
margin-right: 14px;
background-color: white;
}
.sec_4.katalog aside>img{
margin: 0 auto;
display: block;
margin-bottom: 2px;
}
.sec_4.sub_katalog aside>img{
margin: 0 auto;
display: block;
margin-bottom: 2px;
}
.sec_4.products aside>img{
margin: 0 auto;
display: block;
margin-bottom: 2px;
}

.sec_4 aside{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 250px;
  margin-top: -15px;
}

.sec_4 section{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 929px;
  margin-top: 28px;
  padding-left: 10px;
  margin-left: 7px;
}
.sec_4.katalog section{
  display: block;
  width: 996px;
}
.sec_4.sub_katalog section{
  display: block;
  width: 996px;
  min-height: 388px;

}
.sec_4.products section{
  display: block;
  width: 996px;


}
.text_katalog{
  width: 772px;
  white-space: normal;
  margin:0 auto;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  line-height: 27px;
  padding-top: 4px;
}
.sec_4 .aside_ul1{
  border: 1px solid #388ac9;
  padding-bottom: 9px;
  padding-top: 6px;
}
.sec_4 .orienttop{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 25px;
}
.breakcrumbs h3{
  font-size: 30px;
  font-family: 'Conv_Ubuntu-Regular';
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1px;
  margin-bottom: 15px;
}
.breakcrumbs h5{
  font-size: 15px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  font-weight: 100;
  margin-top: 3px;
}
.breakcrumbs h5 a{
text-decoration: none;
}
.breakcrumbs h5 p{
  display: inline-block;
}
.breakcrumbs h5 a:hover{
text-decoration: underline;
}
.breakcrumbs h5 a.active:hover{
text-decoration: none;
}
.breakcrumbs .active{
  color: #0070bd;
}
.sec_4.katalog section h3{
  font-size: 30px;
  /*font-family: 'Conv_Ubuntu-Regular';*/
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 8px;
  font-weight: 100;
}
.sec_4 .orienttop:hover{
  border:1px solid #e94000 !important;
}
.orient_ul{
  overflow: hidden;
  /*height: 143px;*/
}
.sec_4.sub_katalog aside>img {
margin: 0 auto;
display: block;
margin-bottom: 2px;
}
#show_all_subcat{
  cursor: pointer;
  text-align: right;
  display: block;
  margin-bottom: 0px;
}
.sec_4 aside .aside_ul1 li a.active {
color: #0070bd;
}

.aside_ul1 li a.active {
color: #0070bd;
}


.sec_4 .orienttop a{
  text-decoration: none;
}
.sec_4 h2{
  text-align: center;
margin-bottom: 30px;
margin-top: 6px;
}
.sec_4 aside .aside_ul1 li a{
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  width:87%;
  display: block;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-transform: uppercase;
  color: #070e5f;
  padding-left: 34px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.sec_4 aside .aside_ul1 li:hover ul{

}
.sec_4 aside .aside_ul1 li:hover > a{
text-decoration: underline;
}
.sec_4 aside .aside_ul1 li a.active:before{
 /*content: "";
 background-image: url("/_/i/sprite.png");
 position: absolute;
 width: 11px;
 height: 18px;
 background-position: -53px -26px;
 right: 0;
 margin-top: 28px;
 transition: all 0.2s;
-webkit-transition: all 0.2s;*/
}

.sec_4 aside .aside_ul1 li:last-child{
  border: none;
}
.sec_4 aside .aside_ul1 li a.active {
  color: #0070bd;
  text-decoration: underline;
}
.aside_ul2{
  margin-top: 80px;

}
.aside_ul2 li a{
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  padding-top: 13px;
  display: block;
  padding-left: 77px;
  transition: all 0.2s;
-webkit-transition: all 0.2s;

}
.aside_ul2 li a:hover{
 color: rgb(49, 172, 169);
 transition: all 0.2s;
-webkit-transition: all 0.2s;
}
.aside_ul2 li{
  height: 45px;
  margin-bottom: 20px;
  transition: all 0.2s;
-webkit-transition: all 0.2s;


}
.aside_ul1 li ul{
  margin-left: 21px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  transition: all 0.2s;
-webkit-transition: all 0.2s;

}
.aside_ul1 li ul{
 display: none;

}
.aside_ul1 li ul li{
 border:none;
 transition: all 0.2s;
-webkit-transition: all 0.2s;
padding-bottom: 9px;
}
.aside_ul1 li ul li a{
  line-height: 20px !important;
  font-family: 'Conv_Ubuntu-LightItalic';
  font-size: 17px !important;
  transition: all 0.2s;
-webkit-transition: all 0.2s;

}

.aside_ul1 li ul li a:before{
  display: none;

}
.aside_ul1 li{
    background-image: url('/_/i/left_menu.png');
    background-repeat: no-repeat;
    line-height: 31px;
    background-position: 13px 8px;
}
.aside_ul2 li a {
  background-size: 44px 45px!important;
  content: "";
  position: absolute;
  height: 32px;
  background-position: left;
  background-repeat: no-repeat !important;
  /*width: 45px;*/
  /*height: 45px;*/
  /*margin: -11px -54px;*/
}
.aside_ul2 li:nth-child(1) a{
}
.aside_ul2 li:nth-child(2) a{
}
.aside_ul2 li:nth-child(3) a{
}

.aside_ul2 li:nth-child(8) a{
}
.aside_ul2 li:nth-child(7) a {
}
.aside_ul2 li:nth-child(4) a {
}
.aside_ul2 li:nth-child(5) a {
}
.aside_ul2 li:nth-child(6) a {
}
.sec_4 h1{
  margin-top: 0px !important;
  text-align: left;
  /*margin-left: 20px;*/
}
.sec_4 h1:before{
  margin-left: -20px;
}
.sec_4 section figure{
 width: 232px;
  margin: 0 auto;
  margin-top: 10px !important;
  margin-right: 9px !important;
  display: inline-block;
  vertical-align: top;
  /*border:1px solid #cfc6c6;*/
  /*padding: 10px;*/
}
.podzakazz div.figure{
  margin-top: -6px;
}
.slider_small .caroufredsel_wrapper img{
  background-size: cover;
}
.image_main_link{
  margin-left: 0px !important;
}
.sec_4.products section figure{
 width: 237px;
  margin: 0 auto;
  margin-top: 10px !important;
  margin-right: 9px !important;
  display: inline-block;
  vertical-align: top;
  /*border:1px solid #cfc6c6;*/
  /*padding: 10px;*/
}
.sec_4 section figure:nth-child(3n+2){
  /*margin-right: 0px !important;*/

}
/*.sec_4 section figure:nth-child(1){
  margin-right: 10px !important;
}*/
.sort_prod p{
font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
color: #678193;
}
.sort_prod select{
  border:1px solid #678193;
  background-color: white;
  height: 27px;
  width: 163px;
  color: #a8a8a8;
  font-size: 14px;
}
.sort_prod{
  text-align: right;
  margin-top: 30px;
  padding-right: 21px;
}
.sec_4 section figure a{
   width: 232px;
  height: 232px;
   overflow: hidden;
   display: block;
   margin: 0px auto;

}
.sec_4.katalog section figure a{
   width: 232px;
    height: 232px;
   overflow: hidden;
   display: block;
   margin: 0px auto;
   position: absolute;
   height: 232px;
   font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
   font-size: 14px;
   text-transform: uppercase;
}

.sec_4.products section figure a{
   width: 237px;
    height: 232px;
   overflow: hidden;
   display: block;
   margin: 0px auto;
   position: absolute;
   height: 232px;
   font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
   font-size: 25x;
   text-transform: uppercase;
   letter-spacing: 1.8px;
}
.sec_4.products.new-colection section figure a.fancybox.tag_produs,
.sec_4.products.new-colection section figure a.c3{
   width: 237px;
    height: 232px;
   overflow: hidden;
   display: block;
   margin: 0px auto;
   position: absolute;
   height: 406px !important;
   font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
   font-size: 25x;
   text-transform: uppercase;
   letter-spacing: 1.8px;
}



.sec_4.sub_katalog section figure a{
   width: 232px;
    height: 232px;
   overflow: hidden;
   display: block;
   margin: 0px auto;
   position: absolute;
   height: 232px;
   font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
   font-size: 14px;
   text-transform: uppercase;
}
.sec_4.katalog section figure{
   position: relative;
    height: 232px;
}
.sec_4.sub_katalog section figure{
   position: relative;
    height: 232px;
}
.sec_4.products section figure{
   position: relative;
    height: 340px;
}
.sec_4.products.new-colection section figure{
   position: relative;
   height:406px !important;
}
.sec_4.products.new-colection section figure h4{
	bottom:20px;
}

.sec_4.katalog section figure:hover{
box-shadow: 0px 0px 9px 0px;
}
.sec_4.sub_katalog section figure:hover{
box-shadow: 0px 0px 9px 0px;
}

.sec_4 section figure:hover  h4{
   text-decoration: none;
}
.katalog .figure_img{
  position: absolute;
  bottom: -4px;
}
.sec_4.katalog section figure p a:hover{
  text-decoration: underline;
}
.sub_katalog .figure_img{

  position: absolute;
  bottom: -4px;
}
.sec_4.sub_katalog section figure h4 a:hover{
  text-decoration: underline;
}

.products .figure_img{
  position: absolute;
  bottom: 106px;
}
.sec_4.products section figure h4 a:hover{
  text-decoration: underline;
}



.sec_4 section figure a img{
background-position: center center !important;
background-size: contain !important;
background-repeat: no-repeat !important;
}
.sec_4.products section figure a img{
/*background-position: center top !important;*/
background-position: center center !important;
/*background-size: cover !important;*/
background-size: contain !important;
background-repeat: no-repeat !important;
}
.sec_4 section figure h4{
  font-weight: normal;
  margin-top: 8px;
  height: 40px;
  margin-bottom: 17px;
  text-decoration: none;
}
.sec_4.katalog section figure p{
position: absolute;
height: 42px;
width: 231px;
bottom: -9px;
margin-bottom: 0;
z-index: 5;
text-align: center;
font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.sec_4.sub_katalog section figure h4{
position: absolute;
height: 42px;
width: 231px;
bottom: -5px;
margin-bottom: 0;
z-index: 5;
text-align: center;
}

.sec_4.products section figure h4{
position: absolute;
height: 25px;
width: 237px;
bottom: 109px;
margin-bottom: 0;
z-index: 5;
text-align: center;
background-color: rgba(88, 87, 87, 0.99);
}

.products-h4{
  position: absolute;
  height: 25px;
  width: 237px;
  bottom: 109px;
  margin-bottom: 0;
  z-index: 5;
  text-align: center;
  background-color: rgba(88, 87, 87, 0.99);
}




.sec_4.katalog section figure p a{
color: white;
}
.sec_4.sub_katalog section figure h4 a{
color: white;
}
.sec_4.products section figure h4 a{
color: white;
padding-top: 3px;
}

.products-h4 a{
  color: white;
  padding-top: 3px;
}




.sec_4 section figure p{
  font-size: 14px;
  margin: 0;
  height: 16px;
}

.products .articul_produs{
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
position: absolute;
bottom: 79px;
padding-left: 16px;
}
.products .size_produs{
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  position: absolute;
  bottom: 56px;
  padding-left: 16px;
}
.sec_4.products section figure p{
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  padding-left: 16px;
  color: #af030f;
}
.products section figure button{
  border: none;
  background-color: #f0f0f0;
  width: 98px;
  height: 35px;
  color: white;
  position: absolute;
  bottom: 15px;
  right: 9px;
  outline: 0;
}
.products .price_products{
  font-size: 30px;
}
.products .price_products_old{
  display:block;
  font-size: 19px;
  text-decoration:line-through;
  margin:-3px 0 -7px 0;
}
.products .price_products_old span{
	font-size:14px;
}

.price2 span:nth-child(1){
  width: 11px;
}
.price2 span:nth-child(1) i{
  text-decoration: line-through;
  font-style: normal;

}
.price2 span:nth-child(2){
  position: absolute;
  right: 0;
  color: #20a5a0;
  font-weight: bold;

}
.price2{
  width: 100%;
  position: relative;
  margin-top: -15px;

}
.a_name{
  text-decoration: none;
  color: #636363;
  width: 100%!important;
  height: 100%!important;

}

/*.aside_ul2 li:nth-child(9) a {
  background-position: -332px -474px;
}*/
.inputSubmit{
  width: 178px!important;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #0070bd;
  border: 1px solid;
  padding: 8px 0;
  border-radius: 20px;
  margin-top: 45px;
  background: transparent;
  position: absolute;
  right: 0;
  font-family: 'Conv_Ubuntu-Light';
}
.msend_mesaje_submit{
background-image: url('/_/i/send_mes_butt.png');
width: 112px;
height: 32px;
display: inline-block;
text-transform: uppercase;
padding: 13px 0px 0 20px;
color: white;
text-decoration: none;
vertical-align: top;
margin-top: 26px;
font-family: 'Conv_Ubuntu-Regular';
margin-left: 3px;
}
.msend_mesaje_submit:hover{
  background-image: url('/_/i/send_mes_butt_hover.png');
}
.form_title{
  margin: 0 auto;
  /*width: 900px;*/
  text-align: center;
}
.width_max{
  width: 1200px!important;
}
.c3{
  overflow: hidden;
}
.or_class{
  position: absolute;
  margin-top: -120px;
}
.c2{
  background: white;
}

.c2 >ul {
  overflow: auto;
  white-space: nowrap;
  width: 1120px!important;
  left: 50%!important;
  margin-left: -560px!important;
  overflow-x:hidden;
}
.close.close_doc.close4{
  background: url("/_/i/sprite.png");
  background-position: -260px 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 50%;
  top: 148px;
  margin-left: 330px;
  cursor: pointer;
  font-size: 0;
}
.c7:before{
  display: none;
  margin-top: 30px !important;
}
.c7{
  margin-top: 30px !important;
}
.accordion>div{
  display: none;
}
.accordion>h3{
  cursor: pointer;
}
.next_menu{
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: 580px;
  margin-top: 90px;
  cursor: pointer;
}
.prev_menu{
  position: absolute;
  z-index: 999;
  right: 50%;
  margin-right: 580px;
  margin-top: 90px;
  cursor: pointer;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
a.msend_mesaje_submit.hovermsend_mesaje_submit:hover{
    color: #0070bd;
  background-color: white !important;
  border: 1px solid;
  transation: all 0.2s;
  -webkit-transation: all 0.2s;
}
#cartoptions{

  width: 1200px;
  margin: 0 auto;
}
.orders{
  width: 1200px;
  margin: 0 auto;
}
.thancks{
  width: 1200px;
margin: 72px auto 0;
min-height: 152px;
}
.imagezakaz{
width: 167px;
height: 109px;
background: url("/_/i/logotransparent.png");
font-size: 0;
 display: block;
background-repeat: no-repeat;
/* position: absolute; */
/* left: 50%; */
/* margin-top: 19px !important; */
margin: 28px auto 0px;
}
.orders h2{
  margin: 20px auto 60px;
  text-align: center;
}
.orders input,.orders textarea{
  width: 716px;
  padding: 9px 16px;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  border:1px solid #999;
}
#samovizov,#samovizov label,#dostavka,#dostavka label{
  display: inline-block;
  width: 16px;
}
.orders textarea{
  resize: none;
  height: 129px;
  font-family: 'Conv_Ubuntu-Light';
}
.orders label{
  font-size: 15px;
  margin-right: 31px;
  margin-left: 7px;
}
#samovizov{
  margin-left: 242px;
  margin-top: 22px;
  margin-bottom: 23px;
}
.buttsend{
  margin: 16px auto !important;
/*display: block !important;*/
border: 1px solid #818289 !important;
background-color: #9ea0b0 !important;
height: 44px !important;
width: 282px !important;
font-family: 'Conv_Ubuntu-medium' !important;
font-size: 18px !important;
color: white !important;
margin-left: 33px !important;
}
.donestep{
margin: 16px auto !important;
/* display: block !important; */
border: 2px solid #d7d6cd !important;
/*background-color: #e94000 !important;*/
height: 31px !important;
width: 282px !important;
font-family: 'Conv_Ubuntu-medium' !important;
font-size: 18px !important;
color: #333 !important;
text-decoration: none;
padding-top: 10px;
border-radius: 3px;
}
.orders .buttsend,.orders .donestep{
  display: inline-block;
  vertical-align: top;
}
.orders .buttsend:hover{
  background-color: #BCBDCA !important;
  cursor: pointer;
}

.orders input[type="radio"] {
    display:none  !important;
}

.orders input[type="radio"] + label {
    color:#333;
}
.orders input[type="radio"] + label span {
    display:inline-block  !important;
    width:19px  !important;
    height:19px  !important;
    margin:6px 4px 0 0  !important;
    vertical-align:middle  !important;
    background:url("/_/i/radiobut.png") 0px top no-repeat !important;
    cursor:pointer  !important;
}
.orders input[type="radio"]:checked + label span {
    background:url("/_/i/radiobutchech.png") 0 top no-repeat  !important;
}
.divforradiobut{
  margin: 18px auto 16px;
  width: 700px;
}
::-webkit-input-placeholder {
    color:#868686;
}
::-webkit-textarea-placeholder {
    color:#868686;
}

::-moz-placeholder {
    color:#868686;
}

::-ms-placeholder {
    color:#868686;
}

::placeholder {
    color:#868686;
}
.cartoptions_table h2{
  margin: 0 auto 60px;
text-align: center;
}
#tablecart{
  width: 100%;
}
#tablecart tr:first-child td{
border-bottom:1px solid #333;
padding-bottom: 14px;
color: #a9a9a9;
}

#tablecart tr:nth-child(2) td{
  padding-top: 23px;
}



#cartoptions .cartoptionsbutt .buttsend{
  padding: 11px 56px;
  text-decoration: none;
}
#cartoptions .cartoptionsbutt .buttsend:hover{
  background-color: #BBBDCD !important;
}
#cartoptions .cartoptionsbutt .donestep{
  padding: 11px 56px;
}
#tablecart{
  border-spacing: 0 2px;
  color: #333;
}
.totalcartopti p{
  display: inline-block;
  background-color: #ecebe6;
  color: #333;
  margin-top: 30px;
  font-family: 'Conv_Ubuntu-Regular';
  font-size: 15px;
  padding: 32px 0;
}
.totalcartopti{
  text-align: right;
  border-top: 1px solid #cfc6c6;
}
.totalcartopti .firsttotal{
  padding-left: 74px;
  margin-right: -4px;
  padding-right: 278px;
}
.totalcartopti .secondtotal{
  padding-right: 54px;
}
.cartoptionsbutt{
  margin-top: 30px;
  text-align: right;
  margin-bottom: 63px;
}
.buttplusminus{
margin-top: -31px;
display: block;
margin-left: 76px;
}
.buttplusminus button{
  width: 15px;
  height: 15px;
  border:none;
  background: #cfc6c6;
  padding: 0px;
margin: 0;
font-size: 14px;
}
#tablecart input{
  width: 21px;
  border:none;
  background: none;
}
.sec_4.search h1{
  text-align: center;
}
#ya-site-form0 .ya-site-form__form .ya-site-form__input-text{
  padding: 17px;
}
.p_subsc_second{
  display: none;
  margin-top: 10px;
  margin-left: 31px;
  font-size: 15px;
  width: 250px;
  padding: 3px 14px;

}
.img_subsc_second{
  display: none;
  cursor: pointer;
}
.subsc_miu input::-webkit-input-placeholder {
    color: #636363;
}
.subsc_miu input:-moz-placeholder {
    /* FF 4-18 */
    color: #636363;
}
.subsc_miu input::-moz-placeholder {
    /* FF 19+ */
    color: #636363;
}
.subsc_miu input:-ms-input-placeholder {
    /* IE 10+ */
    color: #636363;
}
.subsc_miu form{
  display: inline-block;
}
.prod_body table tr td:first-child{
  display: none !important;
}
.prod_body table tr td:last-child{
  padding:0 !important;
}
#map-canvas{
  vertical-align: top;
  display: inline-block;
  width: 720px;
}
#shema_proeszd{
  vertical-align: top;
  display: inline-block;
  width: 414px;
}
.logo_text{
  width: 189px;
font-size: 15px;
display: block;
background-repeat: no-repeat;
position: absolute;
left: 50%;
margin-top: 99px !important;
margin-left: -85px;
color: #666;
}
.umbrela{
  background:url(/_/i/likess.png) no-repeat center
}
.cf{
  display: none;
}
.tag_produs{
  position: absolute;
height: 232px !important;
z-index: 110;
}
.prod_all .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened{
  width: 910px !important;
  height: 515px !important;
  border:3px solid #02799b;
  border-radius: 3px;
}
.prod_all .fancybox-inner{
    width: 910px !important;
  height: 500px !important;
}
.prod_all .lidmagnit .fancybox-inner{
    width: auto !important;
  	height: auto !important;
    overflow:hidden !important;
  	box-shadow:10px 10px 7px 0px rgba(0,0,0,0.4);
}
.prod_all  .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened.lidmagnit{
	border:none;
	width: auto !important;
  	height: auto !important;
  	border-radius: 0px;
}
.prod_all .fancybox-skin{
  padding-bottom: 0 !important;
}
#lidmagnit,#lidmagnit2{display:none; padding:0 !important;margin:0 !important;line-height:0;border:2px solid #27282c;}
.cf .c3{
  width: 514px;
  display: inline-block;
  vertical-align: top;
  height: 485px;
}
.prod_detailleft{
  display: inline-block;
  vertical-align: top;
}
.prod_detailright{
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding-left: 27px;
  color: #252525;
}
.prod_detailright .price_products_old{
  display:block;
  font-size: 22px;
  text-decoration:line-through;
  margin:-17px 0 -12px 0;
}
.prod_detailright .price_products_old span{
	font-size:14px;
}

.prod_detailleft img{
  background-position: center !important;
  height: 485px !important;
  width: 514px !important;
}
.prod_all .fancybox-nav.fancybox-prev{
top: 226px;
width: 43px;
height: 42px;
left: 19px;
}
.prod_all .fancybox-nav.fancybox-prev span{
visibility: visible;
height: 42px;
width: 43px;
background-image: url('/_/i/left_slider_tovar.png') !important;
background-repeat: no-repeat;
z-index: 101;
left: 0;
top: 18px;
cursor: pointer;
}
.prod_all .fancybox-next span{
  background-position: 0 0px;
}
.prod_all .fancybox-prev span {
background-position: 0 0px;
}
.prod_all .fancybox-nav.fancybox-next{
top: 226px;
width: 43px;
height: 42px;
left: 451px;
}
.prod_all .fancybox-nav.fancybox-next span{
  visibility: visible;
  height: 42px;
width: 43px;
background-image: url('/_/i/right_slider_tovar.png') !important;
background-repeat: no-repeat;
height: 44px;
z-index: 101;
left: 0;
top: 18px;
cursor: pointer;
}
.prod_detailright h4{
  font-size: 20px;
  text-align: center;
  margin-top: 55px;
  text-transform: uppercase;
  margin-left: -23px;
}
.prod_detailright h4 a{
  color: #252525;
  font-weight: 100;
}
.prod_detailright .articul_produs{
  font-size: 15px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.prod_detailright .size_produs{
  font-size: 15px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.on_sklad{
  background-image: url('/_/i/na_sklade.png');
  background-repeat: no-repeat;
padding-left: 26px;
color: #0593c1;
font-size: 16px;
margin-top: 30px;
margin-left: 65px;
font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.not_sklad {

padding-left: 26px;
color: #0593c1;
font-size: 16px;
margin-top: 30px;
margin-left: 65px;
font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.prod_detailright p{
  display: inline-block;
  color: #af030f;
  margin-left: 29px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.prod_detailright p span{
  font-size: 45px;
  font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima',Arial,sans-serif;
}
.prod_detailright button{
  display: inline-block;
  border:none;
    background-color: #f0f0f0;
  width: 98px;
  height: 35px;
  vertical-align: top;
  margin-top: 27px;
  margin-left: 50px;
  color: white;
  outline: 0;
}

.add_in_cart{
  background-image: url('/_/i/cart_button.png');
  background-repeat: no-repeat;
}
.add_in_cart:hover{
  background-image: url('/_/i/cart_button_hover.png');
  cursor: pointer;
}
.add_in_cart:focus{
  border:none;
}
.prod_all .fancybox-close{
  background-image: url('/_/i/close_fancybox.png') !important;
  background-repeat: no-repeat;
  width: 25px !important;
height: 25px !important;
top: -12px !important;
right: -12px !important;
}
#nextf{
  background-image: url('/_/i/right_slider_tovar.png') !important;
  background-repeat: no-repeat;
  position: absolute;
  width: 42px;
height: 44px;
z-index: 101;
top: 216px;
left: 460px;
cursor: pointer;
}
#prevf{
    background-image: url('/_/i/left_slider_tovar.png') !important;
  background-repeat: no-repeat;
  position: absolute;
  width: 42px;
height: 44px;
z-index: 101;
top: 216px;
left: 12px;
cursor: pointer;
}
#font_prod{
  position: absolute;
top: 231px;
width: 237px;
height: 109px;
background-color: #f0f0f0;
}

.new-colection #font_prod, .new-colection .articul_produs, .new-colection .size_produs, .new-colection .add_in_cart{
	display:none;
}



.modal_add{
background-color: white;
display: block;
position: fixed;
width: 410px;
height: 139px;
top: 30%;
left: 0;
right: 0;
margin: 0 auto;
box-shadow: 0 0 11px 2px;
z-index: 110;
display: none;
}
.modal_add a{
text-align: center;
  color: #666;
  display: block;
  margin: 32px auto;
  font-size: 18px;
  text-decoration: none;

}
.h5 {
  text-align: center;
  color: #666;
  display: block;
  margin: 32px auto;
  font-size: 18px;
  text-decoration: none;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  white-space: nowrap;
}
.modal_add a:hover{
  text-decoration: underline;
}

.text_after_menu a{
  color: #115d98;
  font-size: 21px;
  font-weight: 100;
  text-transform: uppercase;
}
.text_after_menu{
  text-align: center;
}
.text_after_menu a:hover{
  text-decoration: underline;
}
.border_line{
  background-color: #024676;
  height: 1px;
  display: flex;
  margin-bottom: 14px;
}
.text_after_menu2 a{
  color: red;
}
.text_after_menu2 a:hover{
  text-decoration: underline;
}
.category_name{
  display: block;
  border:
}
.category_name:before{
position: absolute;
content: '';
background-image: url(/_/i/image-cat.png);
width: 91px;
z-index: 33;
background-color: white;
height: 40px;
background-repeat: no-repeat;
padding-left: 15px;
margin-left: -14px;
background-position: 9px;
}

.category_title{
  color: #46497b;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.category_title p{
  border-bottom: 2px solid #115d98;
  text-indent: 76px;
line-height: 34px;
}
.scroll-top{
position: fixed;
width: 51px;
height: 59px;
right: 85px;
background-image: url(/_/i/scroll-image.png);
z-index: 1;
background-repeat: no-repeat;
bottom: 96px;
}
.scroll-top:hover{
background-image: url(/_/i/scroll-image-hover.png);
cursor: pointer;
border: 1px solid #0b4674;
}
#google_translate_element{
	border:2px solid #8d0911;
	margin-top:-3px;
	transform:translateY(-3px);
}
.goog-te-menu2{
	border:1px solid #8d0911 !important;
}
.search_form{
	position:relative;
	display:block;
	float:right;
	margin:-53px 0 0 0;
	background:#fff;
	box-shadow:0px 0px 7px 1px #fff;
	z-index:2;
}
.search_form_cat{
	margin:-44px 30px 0 0;
}
.search_form input[type="text"]{
	display:block;
	float:left;
	border:2px solid #8d0911;
	border-radius:2px;
	padding:6px 50px 7px 10px;
	height:20px;
	width:170px;
}
.search_form input[type="submit"]{
	display:block;
	float:left;
    background: #e61c22;
	background-image: url(/_/i/search_icon.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:33px;
	width:45px;
	margin:2px 0 0 -47px;
	border:none;
	border-radius:0;
}


.text-editor ul,h1,h2,h3,h4,h5 {
  list-style: unset !important;
  list-style-type: unset !important;
  /* text-align: unset !important;
  margin-bottom: unset !important;
  margin-top: unset !important;
  font-family: unset !important;
  color: unset !important;
  font-weight: unset !important;
  font-size: unset !important;
  text-transform: unset !important; */
  color: initial !important; 
  text-transform: initial !important;
  /* font-weight: initial !important;  */
  /* font-size: initial !important; */
   /* all: initial; */
}

.text-editor ul {
  
   margin-left: 55px;
 }
